<html lang="vi">
  <head>
    @@include('../components/_head_admin.html', { "title": "Meta title for web"
    })
  </head>
  <body>
    <div class="layout-admin">
      <div class="row">
        <div class="col-lg-2 layout-admin__slider-bar">
          <div class="box-info">
            <img src="assets/images/Ellipse 303.png" />
            <div>
              <h1>TÀI KHOẢN</h1>
              <h2>Nguyễn Trung</h2>
            </div>
          </div>
          <ul>
            <li>
              <a href="admin_main.html"
                ><i class="fas fa-user-circle"></i>Thông tin cá nhân</a
              >
            </li>
            <li>
              <a href="admin_user.html"
                ><i class="fas fa-building"></i>khách hàng doanh nghiệp</a
              >
            </li>
            <li>
              <a href="admin_geological_data.html"
                ><i class="fas fa-cloud-upload-alt"></i>Upload dữ liệu địa
                chất</a
              >
            </li>
            <li>
              <a href="admin_history.html"
                ><i class="fas fa-history"></i>lịch sử hoạt động</a
              >
            </li>
            <li class="sub-menu-admin">
              <a href="#" class="d-flex align-items-center"
                ><i class="fas fa-comments"></i>phản hồi phần mềm
                <i class="fas fa-chevron-down ml-auto"></i
              ></a>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="admin_feedback.html"
                      >Phản hồi của bạn</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="admin_all_software.html"
                      >Tất cả các phầm mềm</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Phản hồi mới</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">CTK</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">EQL</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Excel to PDF</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">IFD</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">IFDe</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">KCS Etabs GEN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">KCS Inside</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">KCS Panel</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">KCS Plotter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">KTV</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">LAT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">PBC</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-10 layout-admin__content">
          <div class="layout-admin__content__top">
            <h1>LỊCH SỬ HOẠT ĐỘNG</h1>
            <button class="d-flex align-items-center" onclick="">
              <i class="fas fa-long-arrow-alt-up text-white"></i>
              <p class="pl-1">VỀ TRANG CHỦ</p>
            </button>
          </div>
          <div class="layout-admin__content__center mt-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Người thực hiện</th>
                  <th scope="col">Đối tượng</th>
                  <th scope="col">Nội dung</th>
                  <th scope="col">Chi tiết</th>
                  <th scope="col">Nội dung</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Hà Nội</td>
                  <td>Ba Đình</td>
                  <td>267 - HOÀNG HOA THÁM</td>
                  <td>Tên file gốc</td>
                  <td>Tên file gốc</td>
                </tr>
                <tr>
                  <td>Hà Nội</td>
                  <td>Ba Đình</td>
                  <td>267 - HOÀNG HOA THÁM</td>
                  <td>Tên file gốc</td>
                  <td>Tên file gốc</td>
                </tr>
                <tr>
                  <td>Hà Nội</td>
                  <td>Ba Đình</td>
                  <td>267 - HOÀNG HOA THÁM</td>
                  <td>Tên file gốc</td>
                  <td>Tên file gốc</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_foot_admin.html')
  </body>
</html>
