<!DOCTYPE html>
<html lang="en">
<head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
</head>
<body>
    @@include('../components/_header.html')
    <div class="book-page">
        <div class="container">
            <div class="book-page__head row">
                    <p>Trang chủ</p>
                    <p>5</p>
                    <p>Sách xây dựng</p>
                    <p>5</p>
                    <p>Nhà thép</p>    
            </div>

            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="book-page__left">
                        <form>
                            <div class="form-group book-page__search">
                                <input type="search" class="form-control" placeholder="Tìm kiếm tên sách">
                                <button type="submit" class="btn btn-primary book-page__search-button">
                                    <img src="assets/images/icon-map-search.svg" alt="search" />
                                    <p>Tìm kiếm</p>
                                </button>
                            </div>
                        </form>

                        <div class="book-page__list-book row">
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book1_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book2_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book3_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book4_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book5_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book6_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book1_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book2_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book3_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book4_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book5_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 book-page__item">
                                <img src="assets/images/book6_2x.png" alt="" class="book-page__item-image" />
                                <p class="book-page__item-label">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</p>
                                <p class="book-page__item-price">119.000<small>đ</small></p>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="book-page__right">
                        <div class="book-page__card">
                            <div class="book-page__card__header">
                                danh mục sách xây dựng
                            </div>
                            <div class="book-page__card__body">
                                <ul class="book-page__card__list">
                                    <li class="book-page__card__item-p">
                                        <p>Bê tông cốt thép</p>
                                    </li>
                                    <li class="book-page__card__item-p">
                                        <p>Danh mục khóa học</p>
                                    </li>
                                    <li class="book-page__card__item-p">
                                        <p>Excel</p>
                                    </li>
                                    <li class="book-page__card__item-p">
                                        <p>Khóa học</p>
                                    </li>
                                    <li class="book-page__card__item-p">
                                        <p>Kiến trúc</p>
                                    </li>
                                    <li class="book-page__card__item-p">
                                        <p>Nền móng</p>
                                    </li>
                                    <li class="book-page__card__item-p">
                                        <p>Sách Xây Dựng</p>
                                    </li>
                                    <li class="book-page__card__item-p">
                                        <p>Tài liệu tham khảo</p>
                                    </li>
                                    <li class="book-page__card__item-p">
                                        <p>Ứng suất trước</p>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>

                        <div class="book-page__card">
                            <div class="book-page__card__header">
                                sách mới
                            </div>
                            <div class="book-page__card__body">
                                <ul class="book-page__card__list">
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book2_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book1_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book5_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book4_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book2_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="book-page__card">
                            <div class="book-page__card__header">
                                sách bán chạy
                            </div>
                            <div class="book-page__card__body">
                                <ul class="book-page__card__list">
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book2_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book1_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book5_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book4_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="book-page__card__item">
                                        <div class="book-page__card__item__container">
                                            <div class="book-page__card__item__left">
                                                <img src="assets/images/book2_1x.png" alt="">
                                            </div>
                                            <div class="book-page__card__item__right">
                                                <p class="card-item-label">Thiết Kế Kết Cấu Thép Trong Công 
                                                    Trình XDDD Và CN</p>
                                                    <p class="card-item-price">119.000<small>đ</small></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="social">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 social__content">
                        <h2 class="social__title">kết nối nhiều hơn với ketcausoft</h2>
                        <p class="social__text">Tham gia nhóm Facebook sau để trao đổi trong quá trình học.</p>
                    </div>
                    <div class="col-lg-6 col-md-12 social__logo">
                        <div class="social__container">
                            <img src="assets/images/facebook_2x.png" alt="" class="social__logo-facebook">
                            <img src="assets/images/youtube_2x.png" alt="" class="social__logo-youtube">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../components/_foot.html') @@include('../components/_footer.html')
</body>
</html>