<!DOCTYPE html>
<html lang="en">
<head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
</head>
<body>
    @@include('../components/_header.html')
    <div class="software-page intro-pfd buy-soft">
        <div class="container">
          <div class="software-page__box-intro pb-2 row">
            <div class="col-lg-12 col-md-12 text-center">
              <h1>HƯỚNG DẪN THANH TOÁN</h1>
              <h4>Liên hệ với ketcausoft để được tư vấn nhanh nhất!</h4>
              <div class="group-button justify-content-center">
                <button class="button-hotline">
                  <img src="assets/images/icon_hotline.svg" />
                  <p>Hotline <b>0397 306 689</b></p>
                </button>
                <button class="button-zalo">
                  <p>Zalo: <b>0918 029 930</b></p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="buy-soft">
        <div class="section-card">
          <div class="container">
            <h2 class="section__title">CÁC GÓI PHẦN MỀM</h2>

            <div class="section-card__list row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="section-card__item">

                  <div class="section-card__header section-card__header--online">
                    <img src="assets/images/icon_people.svg" alt="" class="section-card__image">
                    <p class="section-card__header-title">Tài khoản online</p>
                  </div>
  
                  <div class="section-card__price section-card__price--online">
                    1.690.000<small>VNĐ</small>
                  </div>
  
                  <p>Luôn cập nhật</p>
                  <p>Sử dụng linh hoạt</p>
                  <p>Thời hạn 1 năm</p>
  
                  <button class="btn btn-primary section-card__button section-card__button--online">XEM CHI TIẾT</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="section-card__item">

                  <div class="section-card__header section-card__header--log">
                    <img src="assets/images/icon_userlog.svg" alt="" class="section-card__image">
                    <p class="section-card__header-title">Khóa cứng</p>
                  </div>
  
                  <div class="section-card__price section-card__price--log">
                    4.000.000<small>VNĐ</small>
                  </div>
  
                  <p>Sử dụng linh hoạt</p>
                  <p>Sử dụng Offline</p>
                  <p>Thời hạn 3 năm</p>
  
                  <button class="btn btn-success section-card__button section-card__button--log">XEM CHI TIẾT</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="section-card__item">

                  <div class="section-card__header section-card__header--code">
                    <img src="assets/images/icon_codepen.svg" alt="" class="section-card__image">
                    <p class="section-card__header-title">Mã code</p>
                  </div>
  
                  <div class="section-card__price section-card__price--code">
                    6.000.000<small>VNĐ</small>
                  </div>
  
                  <p>Sử dụng offline</p>
                  <p>Dùng trên máy tính</p>
                  <p>Kích hoạt 1 lần</p>
  
                  <button class="btn btn-primary section-card__button section-card__button--code">XEM CHI TIẾT</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="section-card__item">

                  <div class="section-card__header section-card__header--infinity">
                    <img src="assets/images/icon_infinity.svg" alt="" class="section-card__image">
                    <p class="section-card__header-title">Không giới hạn</p>
                  </div>
  
                  <div class="section-card__price section-card__price--infinity">
                    15.000.000<small>VNĐ</small>
                  </div>
  
                  <p>Sử dụng linh hoạt</p>
                  <p>Luôn cập nhật</p>
                  <p>Sử dụng trọn đời</p>
  
                  <button class="btn btn-primary section-card__button section-card__button--infinity">XEM CHI TIẾT</button>
                </div>
              </div>
            </div>

            <div class="section-card__hotline">
              <p>Giá các gói phần mềm lẻ xin liên liên hệ </p>
              <button class="btn">Hotline: <b>0397 306 689</b></button>
            </div>
          </div>
        </div>

        <div class="section-payment">
          <div class="container">
            <h2 class="section__title">HƯỚNG DẪN THANH TOÁN</h2>

            <div class="row section-payment__container">
              <div class="col-lg-4 col-sm-12 section-payment__tutorial">
                <div class="section-payment__tutorial__item">
                  <div class="section-payment__tutorial__label">
                    <div class="section-payment__tutorial__number">1</div>
                    <p class="section-payment__tutorial__title">
                      Nhập thông tin liên hệ
                    </p>
                  </div>
                  <div class="section-payment__tutorial__text">
                    Vui lòng điền đầy đủ các thông tin liên hệ.
  Ketcausoft sẽ liên hệ với bạn để tư vấn sản phẩm trực tiếp sau khi xác nhận các thông tin đăng ký này là chính xác.
                  </div>
                </div>

                <div class="section-payment__tutorial__item">     
                  <div class="section-payment__tutorial__label">
                    <div class="section-payment__tutorial__number">2</div>
                    <p class="section-payment__tutorial__title">
                      Lựa chọn hình thức sử dụng
                    </p>
                  </div>
                  <div class="section-payment__tutorial__text">
                    Lựa chọn hình thức sử dụng mong muốn, phù hợp với nhu cầu.
                  </div>
                </div>

                <div class="section-payment__tutorial__item">
                  <div class="section-payment__tutorial__label">
                    <div class="section-payment__tutorial__number">3</div>
                    <p class="section-payment__tutorial__title">
                      Lựa chọn hình thức thanh toán
                    </p>
                  </div>
                  <div class="section-payment__tutorial__text">
                    Đa dạng phương thức thanh toán, hỗ trợ nhanh chóng và hiệu quả.
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-12 section-payment__register">
                <form>
                  <label class="form-label">Nhập thông tin liên hệ</label>
                  <input type="text" class="form-control" placeholder="Họ và tên">
                  <input type="text" class="form-control" placeholder="Số điện thoại">
                  <input type="email" class="form-control" placeholder="Email">

                  <label class="form-label">Hình thức sử dụng</label>
                  <input type="text" class="form-control" placeholder="Mã CODE">
                  <input type="text" class="form-control" placeholder="Mã giảm giá">
                  <input type="text" class="form-control" placeholder="Ghi chú (Địa chỉ nhận khóa phần cứng, ghi chú khác,.v.v...)">

                  <label class="form-label">Phương thức thanh toán</label>
                  <div class="form-check mb-2">
                    <input class="form-check-input success" name="payment" type="radio" value="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Thanh toán bằng ví <b>Momo</b>
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" name="payment" type="radio" value="">
                    <label class="form-check-label" for="flexCheckChecked">
                      Thanh toán bằng thẻ ATM nội địa (BIDV, Vietcombank, Techcombank)
                    </label>
                    <a href="#">Xem thông tin các tài khoản thanh toán</a>
                  </div>
                  <div class="form-check mb-4">
                    <input class="form-check-input" name="payment" type="radio" value="">
                    <label class="form-check-label" for="flexCheckChecked">
                      Thanh toán tiền mặt
                    </label>
                  </div>

                  <button class="btn form-control btn-payment" type="button" data-toggle="modal" data-target="#modalPayment">ĐĂNG KÝ</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="section-thanhtoan">
          <div class="container">
            <h2 class="section__title">THÔNG TIN TÀI KHOẢN THANH TOÁN</h2>
              <div class="row section-thanhtoan__container">
                  <div class=" col-lg-4 col-md-6 col-sm-12">
                      <div class="item">
                          <img src="assets/images/bidv1.svg" alt=""/>
                          <div class="text-content">
                            <h4>BIDV</h4>
                            <strong>Hồ Việt Hùng</strong>
                            <span>Chi nhánh Hà Thành</span>
                            <span>Số TK: 1221 000 1379 5554</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="item">
                          <img src="assets/images/vietcom1.svg" alt=""/>
                          <div class="text-content">
                            <h4>Vietcombank</h4>
                            <strong>Hồ Việt Hùng</strong>
                            <span>Chi nhánh Hà Nội</span>
                            <span>Số TK: 1221 000 1379 5554</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="item">
                          <img src="assets/images/teckcom1.svg" alt=""/>
                          <div class="text-content">
                            <h4>Teckcombank</h4>
                            <strong>Hồ Việt Hùng</strong>
                            <span>Sở giao dịch</span>
                            <span>Số TK: 1221 000 1379 5554</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="item">
                          <img src="assets/images/momo1.svg" alt=""/>
                          <div class="text-content">
                            <h4>momo</h4>
                            <span>Khi bạn không sử dụng Internet Banking, hoặc không tiện ra ngân hàng giao dịch thì momo là một ứng dụng rất tuyệt vời</span>
                            <a href>Xem Hướng Dẫn</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
       
    @@include('../components/_foot.html') @@include('../components/_footer.html')
<!-- Modal login-->
<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <span class="times" data-dismiss="modal">
              <img src="assets/images/icon/times.svg"/>
          </span>
          <div class="modal-body">
            <img src="assets/images/modalpayment_logo.svg" alt="">
            <p class="title">xác nhận đăng ký mua phần mềm</p>
            <b>Chào bạn</b>
            <p>Ketcausoft đã nhận được thông tin đăng ký mua phần mềm của bạn.
            </p>
            <p>Ketcausoft sẽ liên hệ để xác nhận và tư vấn cho bạn trong thời gian sớm nhất.</p>
            <p>Trân trọng!</p>
          </div>
      </div>
  </div>
</div>
</body>
</html>