<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page">
      <div class="container">
        <div class="software-page__box-intro row">
          <div class="col-lg-6 col-md-6">
            <h1>PHẦN MỀM TÍNH TOÁN</h1>
            <h2>
              Tự động tính toán, chọn thép, xuất thuyết minh, xuất bản vẽ, thống
              kê cốt thép
            </h2>
            <div class="group-button">
              <button>
                <img src="../assets/images/Icon metro-file-download.svg" />
                <p>Download</p>
              </button>
              <button>
                <img src="../assets/images/Icon material-phone-in-talk.svg " />
                <p>Liên hệ tư vấn</p>
              </button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <img src="../assets/images/Group 1707.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content">
      <div class="container">
        <h1>Bộ Phần Mềm Tính Toán Thông Minh</h1>
        <h2>
          Tất cả các phần mềm đều dễ dàng sử dụng, cài đặt và luôn được nâng cấp
          cập nhật tính năng mới
        </h2>
        <div class="row">
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_1.svg" />
            <div class="text-left">
              <h3>
                IFD <br />
                <span>Thiết kế Móng đơn</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_2.svg" />
            <div class="text-left">
              <h3>
                PBC
                <br />
                <span>Tính toán sức chịu tải của Cọc </span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_3.svg" />
            <div class="text-left">
              <h3>
                PFD
                <br />
                <span>Thiết kế Móng cọc</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_4.svg" />
            <div class="text-left">
              <h3>
                EQL
                <br />
                <span>Tính toán tải trọng Động đất</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_5.svg" />
            <div class="text-left">
              <h3>
                WDL
                <br />
                <span>Tính toán tải trọng Gió</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_6.svg" />
            <div class="text-left">
              <h3>
                RCC
                <br />
                <span>Tính toán và thiết kế cốt thép Cột</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_7.svg" />
            <div class="text-left">
              <h3>
                KTV
                <br />
                <span> Kiểm tra Vách</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_8.svg" />
            <div class="text-left">
              <h3>
                RCBc
                <br />
                <span>Tính toán cốt thép Dầm</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_9.svg" />
            <div class="text-left">
              <h3>
                RCSc
                <br />
                <span>Thiết kế cốt thép Sàn</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="../assets/images/icon_menu_10.svg" />
            <div class="text-left">
              <h3>
                STF
                <br />
                <span>Thiết kế khung thép tiền chế</span>
              </h3>
            </div>
            <img src="../assets/images/Group 3140.jpg" class="more" />
          </div>
        </div>
        <div class="box-free pl-3 ml-0 row">
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-settings.svg" />
            <p>
              Trải nghiệm bộ phần<br />
              mềm với đầy đủ tính năng
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-headphones.svg" />
            <p>
              Hotline Tư vấn - <br />
              Hỗ trợ: 0397 306 689
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-facebook.svg" />
            <p>
              Nhóm hỗ trợ<br />
              khách hàng trên Facebook
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/icon-play.png" />
            <p>
              Kênh Youtube hướng<br />
              dẫn sử dụng phần mềm
            </p>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
