<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
    </head>
    <body>
        @@include('../components/_header.html') @@include('../components/_banner_library.html')
        <div class="main-page">
            <div id="library">
                <div class="container">
                    <div class="library-form_search">
                        <h3>Nhập từ khoá để tìm kiếm</h3>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Tìm kiếm tài liệu" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-primary" type="button"><img src="assets/images/icon/icon_search_white.svg"> Tìm kiếm</button>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <label ><input type="checkbox" /> Móng <img src="assets/images/icon/befor-checkbox.svg"></label>
                            </li>
                            <li>
                                <label ><input type="checkbox" /> Cọc <img src="assets/images/icon/befor-checkbox.svg"></label>
                            </li>
                            <li>
                                <label ><input type="checkbox" /> Đầm <img src="assets/images/icon/befor-checkbox.svg"></label>
                            </li>
                            <li>
                                <label ><input type="checkbox" /> Sàn <img src="assets/images/icon/befor-checkbox.svg"></label>
                            </li>
                            <li>
                                <label ><input type="checkbox" /> Tải trọng <img src="assets/images/icon/befor-checkbox.svg"></label>
                            </li>
                            <li>
                                <label ><input type="checkbox" /> Khác <img src="assets/images/icon/befor-checkbox.svg"></label>
                            </li>
                        </ul>
                    </div>
                    <div class="library-table_info">
                        <table>
                            <thead>
                                <th width="7%" class="text-center">STT</th>
                                <th>Tên tài liệu</th>
                                <th width="20%">Phân loại</th>
                                <th width="10%" class="text-center">Số lượng download</th>
                                <th width="10%" class="text-center">Download</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="center">255</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">254</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">253</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">252</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">251</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">450</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">250</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">249</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">248</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">247</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">246</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">245</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">244</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                                <tr>
                                    <td align="center">243</td>
                                    <td>Bảng vẽ khung thép tiền chế</td>
                                    <td>Hồ sơ mẫu</td>
                                    <td align="center">434</td>
                                    <td align="center"><a href=""><img src="assets/images/icon/icon_down.svg"></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <nav class="page">
                            <ul>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="" class="active">5</a></li>
                                <li><a href="">6</a></li>
                                <li><a href="">7</a></li>
                                <li><a href="">8</a></li>
                                <li><a href="">9</a></li>
                                <li><a href="">10</a></li>
                            </ul>
                        </nav>
                        <hr />
                    </div>
                    <div class="library-document">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="h2_title_border">Tài liệu download nhiều nhất</h2>
                                <div class="col-shawdow">
                                    <ol>
                                        <li>1.Hướng dẩn thực hành etabs cơ bản<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>2.Tính độ vổng của đầm<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>3.Kiến thức sử dụng Etabs<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>4.Bản vẽ móng và nhà dân<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>5.Bảng tính thẩm tra<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>6.Hướng dẩn thực hành etabs cơ bản<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>7.Tính độ vổng của đầm<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>8.Kiến thức sử dụng Etabs<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>9.Bản vẽ móng và nhà dân<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>10.Bảng tính thẩm tra<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="h2_title_border">Tài liệu mới upload</h2>
                                <div class="col-shawdow">
                                    <ol>
                                        <li>1.Hướng dẩn thực hành etabs cơ bản<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>2.Tính độ vổng của đầm<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>3.Kiến thức sử dụng Etabs<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>4.Bản vẽ móng và nhà dân<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>5.Bảng tính thẩm tra<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>6.Hướng dẩn thực hành etabs cơ bản<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>7.Tính độ vổng của đầm<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>8.Kiến thức sử dụng Etabs<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>9.Bản vẽ móng và nhà dân<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                        <li>10.Bảng tính thẩm tra<a href=""><img src="assets/images/icon/icon_down.svg"></a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
