<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
    </head>
    <body>
        @@include('../components/_header.html') 
        <div class="main-page">
            <div id="education_soft" class="download_soft">
                <div class="container">
                    <h2 class="head text-center">14 NGÀY DÙNG THỬ MIỄN PHÍ</h2>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="download_left">
                                <h3>Phiên bản  hiện tại: <span>v2021.06.18</span></h3>
                                <p>
                                    Phần mềm triển khai chi tiết dầm RCB
                                    Tự động đặt tên ký hiệu đoạn khi chia dầm <br />
                                    Chi tiết xem thêm tại: <br> 
                                    <a href="">https://ketcausoft.com/tintuc/posts/rcb-cap-nhat-ngay-18-06-2021</a>
                                </p>
                                
                                <div class="note_download">
                                    <h2>Download</h2>
                                    <p>Nhập thông tin click download</p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="Họ và tên">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"placeholder="Số điện thoại">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block">Download</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="qc_bottom">
                                    <img src="../assets/images/thumb/download.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="download-boxshadow">
                                <h3>CÁC PHIÊN BẢN CỦ HƠN</h3>
                                <div class="content-item mt-1 pb-0">
                                    <div class="item">
                                        <h2 class="active">
                                            v2021.06.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list d-block-custom">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.05.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.04.03
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.02.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.05.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.04.03
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.02.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.05.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.04.03
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.02.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.05.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.04.03
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                    <div class="item">
                                        <h2>
                                            v2021.02.09
                                            <span class="js-action">
                                                <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                            </span>
                                        </h2>  
                                        <div class="item_list">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        Phần mềm triển khai cốt thép sàn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
