<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-6 col-md-6">
            <h1>PHẦN MỀM THỂ HIỆN BẢN VẼ</h1>
            <h2>
              Tự động tính toán, chọn thép, xuất thuyết minh, xuất bản vẽ, thống
              kê cốt thép
            </h2>
            <div class="group-button">
              <button>
                <img src="assets/images/Icon metro-file-download.svg" />
                <p>Download</p>
              </button>
              <button>
                <img src="assets/images/Icon material-phone-in-talk.svg " />
                <p>Liên hệ tư vấn</p>
              </button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <img src="assets/images/Group 2185.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content">
      <div class="container">
        <h1>Bộ Phần Mềm Thể Hiện Bản Vẽ</h1>
        <h2>
          Tất cả các phần mềm đều dễ dàng sử dụng, cài đặt và luôn được nâng cấp
          cập nhật tính năng mới
        </h2>
        <div class="row">
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_11.svg" />
            <div class="text-left">
              <h3>
                IFDe
                <br />
                <span>Triển khai chi tiết Móng đơn</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_12.svg" />
            <div class="text-left">
              <h3>
                PFDe
                <br />
                <span>Triển khai chi tiết Đài cọc</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_13.svg" />
            <div class="text-left">
              <h3>
                RCCd
                <br />
                <span>Triển khai chi tiết Cột - Vách</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
            <img src="assets/images/Group 1712.png" class="more-detail " />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_14.svg" />
            <div class="text-left">
              <h3>
                RCB
                <br />
                <span>Triển khai chi tiết Dầm</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_15.svg" />
            <div class="text-left">
              <h3>
                RCS
                <br />
                <span>Triển khai cốt thép Sàn</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
        </div>
        <div class="box-free pl-3 ml-0 row">
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="assets/images/Icon feather-settings.svg" />
            <p>
              Trải nghiệm bộ phần<br />
              mềm với đầy đủ tính năng
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="assets/images/Icon feather-headphones.svg" />
            <p>
              Hotline Tư vấn - <br />
              Hỗ trợ: 0397 306 689
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="assets/images/Icon feather-facebook.svg" />
            <p>
              Nhóm hỗ trợ<br />
              khách hàng trên Facebook
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="assets/images/icon-play.png" />
            <p>
              Kênh Youtube hướng<br />
              dẫn sử dụng phần mềm
            </p>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
