<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
    </head>
    <body>
        @@include('../components/_header.html') @@include('../components/_banner_daotao.html')
        <div class="main-page">
            <div id="education_soft" class="education_detail">
                <div class="container">
                    <div class="udemy">
                       <div class="row">
                            <div class="col-md-9">
                                <div class="col-content-shadow">
                                    <h1 class="h1-font">
                                        ĐÁNH GIÁ HỌC VIÊN
                                    </h1>
                                    <hr />
                                    <div class="main-evalute">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="total_evalute">
                                                    <span class="title-total">
                                                        4.8
                                                    </span> <br />
                                                    <p class="evalute">
                                                        <img src="../assets/images/icon/icon_start.svg" />
                                                        <img src="../assets/images/icon/icon_start.svg" />
                                                        <img src="../assets/images/icon/icon_start.svg" />
                                                        <img src="../assets/images/icon/icon_start.svg" />
                                                        <img src="../assets/images/icon/icon_start.svg" />
                                                    </p>
                                                    <p>(7 đánh giá)</p>
                                                </div>
                                            </div>
                                            <div class="col-md-9" >
                                                <div class="chart">
                                                    <ul>
                                                        <li>
                                                            <div class="col_left">
                                                                <span class="over-chart" style="width: 95%;"></span>
                                                            </div>
                                                            <div class="col_right">
                                                                <span class="span_info">95% </span> 
                                                                <span>
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="col_left">
                                                                <span class="over-chart" style="width: 5%;"></span>
                                                            </div>
                                                            <div class="col_right">
                                                                <span class="span_info">5%</span> 
                                                                <span>
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="col_left">

                                                            </div>
                                                            <div class="col_right">
                                                                <span class="span_info">0%</span> 
                                                                <span>
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="col_left">

                                                            </div>
                                                            <div class="col_right">
                                                                <span class="span_info">0%</span> 
                                                                <span>
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="col_left">

                                                            </div>
                                                            <div class="col_right">
                                                                <span class="span_info">0%</span> 
                                                                <span>
                                                                    <img src="../assets/images/icon/icon_start.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="col_left">

                                                            </div>
                                                            <div class="col_right">
                                                                <span class="span_info">0%</span> 
                                                                <span>
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                    <img src="../assets/images/icon/icon_start_outline.svg" />
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="edu_comment">

                                            <div class="item">
                                                <div class="avatar">
                                                    <img src="../assets/images/icon/avatar_1.svg" />
                                                </div>
                                                <div class="content">
                                                    <h3>Nguyễn Trung</h3>
                                                    <div class="evalute">
                                                        <span>
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                        </span>
                                                        23/08/2021 22:05
                                                    </div>
                                                    <div class="content_comment">
                                                        Rất bổ ích
                                                    </div>
                                                    <a href="">Trả lời</a>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="item">
                                                <div class="avatar">
                                                    <img src="../assets/images/icon/avatar_2.svg" />
                                                </div>
                                                <div class="content">
                                                    <h3>Nguyễn Trung</h3>
                                                    <div class="evalute">
                                                        <span>
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                        </span>
                                                        23/08/2021 22:05
                                                    </div>
                                                    <div class="content_comment">
                                                        Mình cần gấp bản vẽ và bài số 4 có dầm ảo của phòng kỹ thuật cạnh thang máy lúc update video không thấy thông số phòng, thanks!
                                                    </div>
                                                    <a href="">Trả lời</a>
                                                    <div class="sub_comment">
                                                        <div class="sub_item">
                                                            <div class="sub_avatar">
                                                                <img src="../assets/images/icon/icon_admin.svg" />
                                                            </div>
                                                            <div class="sub_content">
                                                                <h5 class="quantrivien">KetCauSoft <span class="rule">Quản trị viên</span> <span class="time">23/08/2021 22:05</span></h5>
                                                                <div class="sub_text">
                                                                    Video của khóa học đã được update rồi anh Kiên ạ. Anh xem lại xem được chưa nhé, có vấn đề
                                                                    gì thì báo lại cho KetcauSoft ạ!
                                                                </div>
                                                                <a href="">Trả lời</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="item">
                                                <div class="avatar">
                                                    <img src="../assets/images/icon/avatar_3.svg" />
                                                </div>
                                                <div class="content">
                                                    <h3>Mr. Michael</h3>
                                                    <div class="evalute">
                                                        <span>
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                        </span>
                                                        23/08/2021 22:05
                                                    </div>
                                                    <div class="content_comment">
                                                        Good
                                                    </div>
                                                    <a href="">Trả lời</a>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="item">
                                                <div class="avatar">
                                                    <img src="../assets/images/icon/avatar_1.svg" />
                                                </div>
                                                <div class="content">
                                                    <h3>Thành Hải</h3>
                                                    <div class="evalute">
                                                        <span>
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                        </span>
                                                        23/08/2021 22:05
                                                    </div>
                                                    <div class="content_comment">
                                                        Bài học chi tiết, dễ hiểu
                                                    </div>
                                                    <a href="">Trả lời</a>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="item">
                                                <div class="avatar">
                                                    <img src="../assets/images/icon/avatar_2.svg" />
                                                </div>
                                                <div class="content">
                                                    <h3>Nguyễn Trung</h3>
                                                    <div class="evalute">
                                                        <span>
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                        </span>
                                                        23/08/2021 22:05
                                                    </div>
                                                    <div class="content_comment">
                                                        Video hay, rất dể hiểu
                                                    </div>
                                                    <a href="">Trả lời</a>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="item">
                                                <div class="avatar">
                                                    <img src="../assets/images/icon/avatar_3.svg" />
                                                </div>
                                                <div class="content">
                                                    <h3>Trung Phạm</h3>
                                                    <div class="evalute">
                                                        <span>
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                            <img src="../assets/images/icon/icon_start.svg" />
                                                        </span>
                                                        23/08/2021 22:05
                                                    </div>
                                                    <div class="content_comment">
                                                        Like!
                                                    </div>
                                                    <a href="">Trả lời</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content_qc">
                                    <h3>Thông tin khoá học</h3>
                                    <div class="content-info">
                                        <ul>
                                            <li>
                                                <a href=""><img src="assets/images/icon/icon_user_blue.svg"> 2954 học viên</a>
                                            </li>
                                            <li>
                                                <a href=""><img src="assets/images/icon/icon_baigiang.svg"> 20 bài giảng</a>
                                            </li>
                                            <li>
                                                <a href=""><img src="assets/images/icon/ic_time_blue.svg"> 8 giờ học</a>
                                            </li>
                                            <li>
                                                <a href=""><img src="assets/images/icon/ic_download_blue.svg"> 2 tài liệu</a>
                                            </li>
                                            <li>
                                                <a href=""><img src="assets/images/icon/icon_update.svg"> cập nhật 01/01/2021</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       </div> 
                    </div>
                    
                </div>
            </div>
            @@include('../components/_footer_education.html')
        </div>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
