<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
    </head>
    <body>
        @@include('../components/_header.html') @@include('../components/_banner_daotao.html')
        <div class="main-page">
            <div id="education_soft" class="education_detail">
                <div class="container">
                    <div class="udemy">
                       <div class="row">
                            <div class="col-md-9">
                                <div class="col-content-shadow">
                                    <h1 class="h1-font">
                                        NỘI DUNG KHOÁ HỌC
                                    </h1>
                                    <div class="content-item pb-0">
                                        <div class="item">
                                            <h2 class="active">
                                                Phần 1: Làm quen và thông báo thông tin đơn giản
                                                
                                                <span class="js-action">
                                                    <img src="../assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="../assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list d-block-custom">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                        <div class="item">
                                            <h2 class="active">
                                                Phần 2: Dựng Hình
                                                <span class="js-action">
                                                    <img src="../assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="../assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list d-block-custom">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 3: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 4: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                        <div class="item">
                                            <h2>
                                                Phần 3: Tải Trọng
                                                <span class="js-action">
                                                    <img src="../assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="../assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                        <div class="item">
                                            <h2>
                                                Phần 4: Kết Quả
                                                <span class="js-action">
                                                    <img src="../assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="../assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 3: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                        <div class="item">
                                            <h2>
                                                Phần 5: Etabs Gen?
                                                <span class="js-action">
                                                    <img src="../assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="../assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="../assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content_qc">
                                    <h3>Thông tin khoá học</h3>
                                    <div class="content-info">
                                        <ul>
                                            <li>
                                                <a href=""><img src="../assets/images/icon/icon_user_blue.svg"> 2954 học viên</a>
                                            </li>
                                            <li>
                                                <a href=""><img src="../assets/images/icon/icon_baigiang.svg"> 20 bài giảng</a>
                                            </li>
                                            <li>
                                                <a href=""><img src="../assets/images/icon/ic_time_blue.svg"> 8 giờ học</a>
                                            </li>
                                            <li>
                                                <a href=""><img src="../assets/images/icon/ic_download_blue.svg"> 2 tài liệu</a>
                                            </li>
                                            <li>
                                                <a href=""><img src="../assets/images/icon/icon_update.svg"> cập nhật 01/01/2021</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       </div> 
                    </div>
                    
                </div>
            </div>
            @@include('../components/_footer_education.html')
        </div>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
