<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
    </head>
    <body>
        @@include('../components/_header.html') 
        <div class="main-page">
            <div id="education_soft" class="education_detail">
                <div class="becreaum">
                    <div class="container">
                        <a href="">Trang chủ</a>  <img src="../assets/images/icon/Small-Arrow-Right.png"/> <a href="">Thanh toán</a>
                    </div>
                </div>
                <div class="container">
                    <div class="udemy">
                       <div class="row">
                            <div class="col-md-7">
                                <div class="detail_khoahoc">
                                    <div class="content-video">
                                        <img src="../assets/images/thumb/bss_1.png"  align="left"/>
                                        <h2>KHOÁ HỌC 1</h2>
                                        <p>400.000 VNĐ</p>
                                    </div>
                                    <div class="info">
                                        <h2>THÔNG TIN NGƯỜI DÙNG</h2>
                                        <p>Nhập thông tin liên hệ</p>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control"  placeholder="Họ và tên">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control"placeholder="Số điện thoại">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control"placeholder="Email">
                                            </div>
                                        </form>

                                        <h2 class="mt-2">PHƯƠNG THỨC THANH TOÁN</h2>
                                        <div class="list">
                                            <p><label><input type="radio" name="pay_type"> Thanh toán bằng ví <strong>Momo</strong></label></p>
                                            <p><label><input type="radio" name="pay_type"> Thanh toán bằng thẻ ATM nội địa (BIDV, Vietcomback, Techombank)</label><br/>
                                                <a href="">Xem thông tin các tài khoản thanh toán</a>    
                                            </p>
                                            <p><label><input type="radio" name="pay_type"> Thanh toán tiền mặt</label></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="content_qc">
                                    <h3>Tổng</h3>
                                    <div class="content-info">
                                        <ul>
                                            <li>
                                                <a href="">Giá gốc <span class="float-right">400.000 VNĐ</span></a>
                                            </li>
                                            <li>
                                                <a href="">Giảm giá <span class="float-right">_</span></a>
                                            </li>
                                            <li>
                                                <a href="">Phương thức thanh toán <span class="float-right">Thẻ ATM nội địa</span></a>
                                            </li>
                                            <li>
                                                <a href="">Tổng giá trị <span class="float-right">400.000 VNĐ</span></a>
                                            </li>
                                            <li>
                                                <a href="" class="btn btn-success text-white mt-4">THANH TOÁN</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       </div> 
                    </div>
                    
                </div>
                <div class="div-thanhtoan">
                    <h2 class="head h2-center">THÔNG TIN TÀI KHOẢN THANH TOÁN</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="item">
                                    <img src="../assets/images/icon/bidv.svg"  align="left"/>
                                    <h4>BIDV</h4>
                                    <strong>Hồ Việt Hùng</strong>
                                    <span>Chi nhánh Hà Thành</span>
                                    <span>Số TK: 1221 000 1379 5554</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <img src="../assets/images/icon/vietcom.svg"  align="left"/>
                                    <h4>Vietcombank</h4>
                                    <strong>Hồ Việt Hùng</strong>
                                    <span>Chi nhánh Hà Nội</span>
                                    <span>Số TK: 1221 000 1379 5554</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <img src="../assets/images/icon/teckcom.svg"  align="left"/>
                                    <h4>Teckcombank</h4>
                                    <strong>Hồ Việt Hùng</strong>
                                    <span>Sở giao dịch</span>
                                    <span>Số TK: 1221 000 1379 5554</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <img src="../assets/images/icon/momo.svg"  align="left"/>
                                    <h4>momo</h4>
                                    <span>Khi bạn không sử dụng Internet Banking, hoặc không tiện ra ngân hàng giao dịch thì momo là một ứng dụng rất tuyệt vời</span>
                                    <a href>Xem đường dấn</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
