<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
    </head>
    <body>
        @@include('../components/_header.html') 
        <div class="main-page">
            <div id="education_soft" class="education_detail mt-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 left-khoahoc">
                            <div class="nav-menu">
                                <h2 class="head">KHOÁ HỌC 1</h2>
                                <div class="process">
                                    <div class="processing">
                                        <span style="width: 5%;"></span>
                                    </div>
                                    <span>5%</span>
                                </div>
                                <div class="info-khoahoc">
                                    <div class="content-item mt-1 pb-0">
                                        <div class="item">
                                            <h2 class="active">
                                                Phần 1: Làm quen và thông báo thông tin đơn giản
                                                
                                                <span class="js-action">
                                                    <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list d-block-custom">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                        <div class="item">
                                            <h2 class="active">
                                                Phần 2: Dựng Hình
                                                <span class="js-action">
                                                    <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list d-block-custom">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 3: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 4: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                        <div class="item">
                                            <h2>
                                                Phần 3: Tải Trọng
                                                <span class="js-action">
                                                    <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                        <div class="item">
                                            <h2>
                                                Phần 4: Kết Quả
                                                <span class="js-action">
                                                    <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 3: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                        <div class="item">
                                            <h2>
                                                Phần 5: Etabs Gen?
                                                <span class="js-action">
                                                    <img src="assets/images/icon/icon_up.svg" class="up"/> 
                                                    <img src="assets/images/icon/icon_down_gray.svg" class="down"/> 
                                                </span>
                                            </h2>  
                                            <div class="item_list">
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 1: Tạo và chỉnh sửa hệ lưới trục <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="assets/images/icon/icon_youtube_gray.svg"/> 
                                                            Bài 2: Khai báo vật liệu và tiết diện cột, dầm, sàn, vách <span class="time">17:33</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 right_khoahoc">
                           <div class="khoahoc_header">
                                <h2>Bài 1: Tạo và chỉnh sửa lưỡi trục 
                                    <span class="action float-right">
                                        <img src="../assets/images/icon/action_left.svg" />
                                        <img src="../assets/images/icon/action_right.svg" />
                                    </span>
                                </h2>
                                
                            </div>
                            <div class="content_khoahoc">
                                <div class="video">
                                    <script src='https://cdn.jwplayer.com/libraries/pVdloYFt.js'></script>
                                    <div id="player">Loading the player...</div>
                                    <script>
                                        const player = jwplayer('player').setup({
                                            file: 'https://content.jwplatform.com/videos/XGqpQYmS-2XbS7bs1.mp4',
                                            autostart: true
                                        });

                                        player.on('pause', (event) => {});

                                        const bumpIt = () => {
                                            const vol = player.getVolume();
                                            player.setVolume(vol + 10);
                                        }
                                        bumpIt();
                                    </script>
                                </div>
                                <h2>Nội dung khoá học</h2>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
                                </div>
                                <hr />
                                <div class="comment">
                                    <div class="edu_comment">

                                        <div class="item">
                                            <div class="avatar">
                                                <img src="../assets/images/icon/avatar_3.svg" />
                                            </div>
                                            <div class="content evalu-input">
                                                <h3>Phụng Nguyễn</h3>
                                                <div class="evalute">
                                                    <input type="text" class="form-control" placeholder="Viết bình luận"/>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="item">
                                            <div class="avatar">
                                                <img src="../assets/images/icon/avatar_1.svg" />
                                            </div>
                                            <div class="content">
                                                <h3>Nguyễn Trung</h3>
                                                <div class="evalute">
                                                    23/08/2021 22:05
                                                </div>
                                                <div class="content_comment">
                                                    Rất bổ ích
                                                </div>
                                                <a href="">Trả lời</a>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="item">
                                            <div class="avatar">
                                                <img src="../assets/images/icon/avatar_2.svg" />
                                            </div>
                                            <div class="content">
                                                <h3>Nguyễn Trung</h3>
                                                <div class="evalute">
                                                    23/08/2021 22:05
                                                </div>
                                                <div class="content_comment">
                                                    Mình cần gấp bản vẽ và bài số 4 có dầm ảo của phòng kỹ thuật cạnh thang máy lúc update video không thấy thông số phòng, thanks!
                                                </div>
                                                <a href="">Trả lời</a>
                                                <div class="sub_comment">
                                                    <div class="sub_item">
                                                        <div class="sub_avatar">
                                                            <img src="../assets/images/icon/icon_admin.svg" />
                                                        </div>
                                                        <div class="sub_content">
                                                            <h5 class="quantrivien">KetCauSoft <span class="rule">Quản trị viên</span> <span class="time">23/08/2021 22:05</span></h5>
                                                            <div class="sub_text">
                                                                Video của khóa học đã được update rồi anh Kiên ạ. Anh xem lại xem được chưa nhé, có vấn đề
                                                                gì thì báo lại cho KetcauSoft ạ!
                                                            </div>
                                                            <a href="">Trả lời</a>
                                                        </div>
                                                    </div>

                                                    <div class="sub_item">
                                                        <div class="sub_avatar">
                                                            <img src="../assets/images/icon/avatar_2.svg" />
                                                        </div>
                                                        <div class="sub_content">
                                                            <h5 class="">Nguyễn Trung  <span class="time">23/08/2021 22:05</span></h5>
                                                            <div class="sub_text">
                                                                Oke đã thấy hiện thị, thanks admin!
                                                            </div>
                                                            <a href="">Trả lời</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="item">
                                            <div class="avatar">
                                                <img src="../assets/images/icon/avatar_3.svg" />
                                            </div>
                                            <div class="content">
                                                <h3>Mr. Michael</h3>
                                                <div class="evalute">
                                                    23/08/2021 22:05
                                                </div>
                                                <div class="content_comment">
                                                    Good
                                                </div>
                                                <a href="">Trả lời</a>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="item">
                                            <div class="avatar">
                                                <img src="../assets/images/icon/avatar_1.svg" />
                                            </div>
                                            <div class="content">
                                                <h3>Thành Hải</h3>
                                                <div class="evalute">
                                                    23/08/2021 22:05
                                                </div>
                                                <div class="content_comment">
                                                    Bài học chi tiết, dễ hiểu
                                                </div>
                                                <a href="">Trả lời</a>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="item">
                                            <div class="avatar">
                                                <img src="../assets/images/icon/avatar_2.svg" />
                                            </div>
                                            <div class="content">
                                                <h3>Nguyễn Trung</h3>
                                                <div class="evalute">
                                                    23/08/2021 22:05
                                                </div>
                                                <div class="content_comment">
                                                    Video hay, rất dể hiểu
                                                </div>
                                                <a href="">Trả lời</a>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="item">
                                            <div class="avatar">
                                                <img src="../assets/images/icon/avatar_3.svg" />
                                            </div>
                                            <div class="content">
                                                <h3>Trung Phạm</h3>
                                                <div class="evalute">
                                                    23/08/2021 22:05
                                                </div>
                                                <div class="content_comment">
                                                    Like!
                                                </div>
                                                <a href="">Trả lời</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @@include('../components/_footer_education.html')
        </div>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
