<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    </head>
    <body>
        @@include('../components/_header.html') @@include('../components/_banner_daotao_ketcau_main.html')
        <div class="main-page">
            <div id="education_soft" class="education_main">
                <div class="container">
                    <h1 class="head-center text-center">Các Khoá Học Online Của Ketcausoft</h1>
                    <div class="udemy">
                       <div class="row">
                            <div class="col-md-6">
                               <div class="item_edu">
                                   <div class="thumb">
                                        <img src="assets/images/thumb/bss_1.png" width="100%" />
                                   </div>
                                   <div class="content-text">
                                        <h3><a href="">Khóa học 1</a></h3>
                                        <div class="description">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                            justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                                            no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                                        </div>
                                        <a class="btn btn-outline-success btn-radius">Xem chi tiết</a>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-6">
                                <div class="item_edu">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/bss_2.png" width="100%" />
                                    </div>
                                    <div class="content-text">
                                        <h3><a href="">Khóa học 2</a></h3>
                                        <div class="description">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                            justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                                            no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                                        </div>
                                        <a class="btn btn-outline-success btn-radius">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item_edu">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/bss_3.png" width="100%" />
                                    </div>
                                    <div class="content-text">
                                        <h3><a href="">Khóa học 3</a></h3>
                                        <div class="description">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                            justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                                            no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                                        </div>
                                        <a class="btn btn-outline-success btn-radius">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item_edu">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/bss_4.png" width="100%" />
                                    </div>
                                    <div class="content-text">
                                        <h3><a href="">Khóa học 4</a></h3>
                                        <div class="description">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                            justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                                            no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                                        </div>
                                        <a class="btn btn-outline-success btn-radius">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                       </div> 
                    </div>
                    
                </div>
                <div class="team text-center">
                    <h1>ĐỘI NGŨ TÂM HUYẾT</h1>
                    <p>Đội ngũ giáo viên và hỗ trơ của<strong> KetcauSoft</strong> luôn nhiệt tình và tâm huyết với công việc</p>
                    <div class="container">
                        <div class="list-avatar">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="avatar">
                                        <img src="assets/images/thumb/avatar1.png" />
                                    </div>
                                    <span>THS. KS. hồ việt hùng</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="avatar">
                                        <img src="assets/images/thumb/avatar2.png" />
                                    </div>
                                    <span>THS. KS. hồ việt hùng</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="avatar">
                                        <img src="assets/images/thumb/avatar3.png" />
                                    </div>
                                    <span>THS. KS. hồ việt hùng</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="avatar">
                                        <img src="assets/images/thumb/avatar4.png" />
                                    </div>
                                    <span>THS. KS. hồ việt hùng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="library_book">
                    <h1 class="text-center">
                        THƯ VIỆN SÁCH XÂY DỰNG
                    </h1>
                    <div class="swiper-container mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach1.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach2.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach3.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach4.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach5.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach6.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach1.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach2.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach3.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach4.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach5.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/thumb/sach6.png" />
                                    </div>
                                    <div class="text">
                                        <h5><a href="">Thiết Kế Kết Cấu Thép Trong Công Trình XDDD Và CN</a></h5>
                                        <span class="price">119.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="sl_control sl_prev"><img src="assets/images/icon/next.svg"></span>
                    <span class="sl_control sl_next"><img src="assets/images/icon/prev.svg"></span>
                </div>
            </div>
            @@include('../components/_footer_education.html')
        </div>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script>
        var swiper = new Swiper(".mySwiper", {
                slidesPerView: 6,
                spaceBetween: 20,
                loop: true,
                navigation: {
                nextEl: ".sl_prev",
                prevEl: ".sl_next",
            },
        });
      </script>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
