<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-12 col-md-12 text-center">
            <h1>SÁT HẠCH CCHN</h1>
            <h2>Ôn tập sát hạch CCHN thiết kế Kết cấu</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content bg-gray">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 col-md-12 box-question-examination">
            <h1>ÔN TẬP SÁT HẠCH CCHN THIẾT KẾ KẾT CẤU</h1>
            <div class="box-question-examination__item">
              <h2 class="box-question-examination__item--result">Kết quả</h2>
              <div class="box-question-examination__item__top">
                <img src="assets/images/Icon ionic-md-happy.png">
                <p>Chúc mừng bạn đã đạt kết quả tốt, chỉ thiếu một chút nữa thôi!  </p>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Điểm</th>
                    <th scope="col">Kết quả</th>
                    <th scope="col">Ghi chú</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">90/100</th>
                    <td class="text-danger">Đạt</td>
                    <td>Sai 1 câu</td>
                  </tr>
                </tbody>
              </table>
              <button class="button-rework">
                <p>Làm lại</p>
              </button>
            </div>
            <div class="box-question-examination__item border-0 pb-0">
              <h2 class="mb-3">CÁC CÂU TRẢ LỜI SAI</h2>
              <p class="mb-0 font-weight-bold">CÂU HỎI SỐ 1</p>
              <p class="mb-0">Theo quy định của pháp luật về xây dựng, công trình xây dựng được phân cấp trên cơ sở các căn cứ nào?</p>
              <p class="text-danger">d. Tất cả các căn cứ trên</p>
            </div>
            <button>
              <p>Làm lại</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
