<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-12 col-md-12 text-center">
            <h1>SÁT HẠCH CCHN</h1>
            <h2>Ôn tập sát hạch CCHN thiết kế Kết cấu</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content bg-gray">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 col-md-12 box-question-examination">
            <h1>ÔN TẬP SÁT HẠCH CCHN THIẾT KẾ KẾT CẤU</h1>
            <div class="box-question-examination__item">
              <h2>Câu hỏi số 1 / 25</h2>
              <p>Việc phân loại công trình xây dựng theo quy định của pháp luật về xây dựng trên cơ sở tiêu chí nào?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  a. Theo công năng sử dụng
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  b. Theo kiến trúc công trình
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  c. Do người quyết định đầu tư quy định
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  d. Do chủ đầu tư quy định
                </label>
              </div>
            </div>
            <div class="box-question-examination__item">
              <h2>Câu hỏi số 2 / 25</h2>
              <p>Việc phân loại công trình xây dựng theo quy định của pháp luật về xây dựng trên cơ sở tiêu chí nào?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  a. Theo công năng sử dụng
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  b. Theo kiến trúc công trình
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  c. Do người quyết định đầu tư quy định
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  d. Do chủ đầu tư quy định
                </label>
              </div>
            </div>
            <div class="box-question-examination__item">
              <h2>Câu hỏi số 3 / 25</h2>
              <p>Việc phân loại công trình xây dựng theo quy định của pháp luật về xây dựng trên cơ sở tiêu chí nào?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  a. Theo công năng sử dụng
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  b. Theo kiến trúc công trình
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  c. Do người quyết định đầu tư quy định
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  d. Do chủ đầu tư quy định
                </label>
              </div>
            </div>
            <div class="box-question-examination__item">
              <h2>Câu hỏi số 4 / 25</h2>
              <p>Việc phân loại công trình xây dựng theo quy định của pháp luật về xây dựng trên cơ sở tiêu chí nào?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  a. Theo công năng sử dụng
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  b. Theo kiến trúc công trình
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  c. Do người quyết định đầu tư quy định
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  d. Do chủ đầu tư quy định
                </label>
              </div>
            </div>
            <div class="box-question-examination__item">
              <h2>Câu hỏi số 5 / 25</h2>
              <p>Việc phân loại công trình xây dựng theo quy định của pháp luật về xây dựng trên cơ sở tiêu chí nào?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  a. Theo công năng sử dụng
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  b. Theo kiến trúc công trình
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  c. Do người quyết định đầu tư quy định
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  d. Do chủ đầu tư quy định
                </label>
              </div>
            </div>
            <button>
              <p>Tiếp theo</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
