<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-12 col-md-12 text-center">
            <h1>SÁT HẠCH CCHN</h1>
            <h2>Ôn tập sát hạch CCHN thiết kế Kết cấu</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <img src="../assets/images/Group 3066.png" />
          </div>
          <div class="col-lg-6 col-md-6 text-left examination-content">
            <p>
              Trang ôn tập thi sát hạch chứng chỉ hành nghề xây dựng, chuyên
              ngành thiết kế kết cấu công trình dân dụng, công nghiệp.
            </p>
            <p>
              Các câu hỏi được cập nhật theo quyết định 1623/QĐ-BXD ngày
              26/12/2018 về việc điều chỉnh bổ sung các câu hỏi phục vụ sát hạch
              cấp chứng chỉ hành nghề hoạt động xây dung.
            </p>
            <p>
              Quá trình luyện tập sẽ giúp bạn có phản xạ cho các câu hỏi. Chúc
              bạn thành công !
            </p>
            <div class="group-button">
              <button>
                <p>Bài thi đầy đủ</p>
              </button>
              <button>
                <p>Bài thi luật</p>
              </button>
            </div>
          </div>
        </div>
        <div class="box-free pl-3 ml-0 row">
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-settings.svg" />
            <p>
              Trải nghiệm bộ phần<br />
              mềm với đầy đủ tính năng
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-headphones.svg" />
            <p>
              Hotline Tư vấn - <br />
              Hỗ trợ: 0397 306 689
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-facebook.svg" />
            <p>
              Nhóm hỗ trợ<br />
              khách hàng trên Facebook
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/icon-play.png" />
            <p>
              Kênh Youtube hướng<br />
              dẫn sử dụng phần mềm
            </p>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
