<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
    </head>
    <body>
        @@include('../components/_header.html') @@include('../components/_banner_library.html')
        <div class="main-page">
            <div id="library">
                <div class="container">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Thư viện</a></li>
                        <li class="breadcrumb-item"><a href="">Bài viết </a></li>
                        <li class="breadcrumb-item"><a href="">Mô đun tổng biến dạng E0 của đất là gì?</a></li>
                    </ul>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-content-shadow">
                                <h1>
                                    MÔ ĐUN TỔNG BIẾN DẠNG E0 CỦA ĐẤT LÀ GÌ?
                                </h1>
                                <div class="view-port">
                                    <span>
                                        <img src="assets/images/icon/icon_time.svg" /> 28/04/2021
                                    </span>
                                    <span>
                                        <img src="assets/images/icon/icon_eye.svg" /> 447
                                    </span>
                                    <img class="float-right" src="assets/images/icon/icon_share.svg">
                                </div>
                                <hr />
                                <div class="content-text">
                                    Một trong số những chỉ tiêu cơ học đất hay làm các kỹ sư băn khoăn đó là chỉ tiêu “Mô đun tổng biến dạng E0” của đất
                                    . Bài viết ngắn này sẽ cố gắng trả lời mấy câu hỏi sau: <br />
                                    • Vậy ý nghĩa của chỉ tiêu này là gì? <br />
                                    • Vì sao cần đưa ra khái niệm “Mô đun tổng biến dạng” • Phân biệt “Mô đun tổng biến dạng” với “Mô đun biến dạng” của đất? 
                                    <br />• Phân biệt giữa Edef vào Eoed (trong phần mềm tính toán địa kỹ thuật Geo5 cần sử dụng thông số này) <br /><br />
                                    <img src="assets/images/thumb/post.png" width="100%"/> <br /><br />
                                    MÔ ĐUN TỔNG BIẾN DẠNG CỦA ĐẤT LÀ GÌ? ỨNG DỤNG RA SAO?
                                    -----
                                    💥 Một trong số những chỉ tiêu cơ học đất hay làm các kỹ sư băn khoăn đó là chỉ tiêu “Mô đun tổng biến dạng E0” của đất.
                                    🔻 Bài viết ngắn này sẽ cố gắng trả lời mấy câu hỏi sau:<br />
                                    ▪️ Vậy ý nghĩa của chỉ tiêu này là gì?<br />
                                    ▪️ Vì sao cần đưa ra khái niệm “Mô đun tổng biến dạng”<br />
                                    ▪️ Phân biệt “Mô đun tổng biến dạng” với “Mô đun biến dạng” của đất?<br />
                                    ▪️ Phân biệt giữa Edef vào Eoed (trong phần mềm tính toán địa kỹ thuật Geo5 cần sử dụng thông số này)<br />
                                    -----<br />
                                    🖋 Với hiểu biết của bản thân, tác giả cố gắng giải thích theo cách gần gũi để các kỹ sư hiểu hơn về ý nghĩa của chỉ tiêu mô đun tổng biến dạng rất hay xuất hiện trong các báo cáo khảo sát địa chất, và lại hay bị các kỹ sư hiểu và vận dụng không đúng.
                                    💥 Link tải bài viết file PDF:<br />
                                    https://drive.google.com/file/d/1MK9k38XGS4V3cj-okQseTKfyJLvss7Mh/view?fbclid=IwAR1Q5-_kpKYwjd5XvzSHol0uixe4SRlwgqOdBkB5iyOm74T8BepNivf80vM
                                </div>
                            </div>
                            <div class="library-view_hot mt-4">
                                <div class="row">
                                    <div class="col-md-12"><h2 class="h2_title_border">Bài viết liên quan</h2></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-post_other">
                                            <div class="thumnail">
                                                <img src="assets/images/thumb/post_1.png" width="100%"/>
                                            </div>
                                            <div class="content">
                                                <h3><a href="">Hiệu chỉnh XREF trong AutoCAD 2018 (menu Ribbon)</a></h3>
                                                <div class="view-port">
                                                    <span>
                                                        <img src="assets/images/icon/icon_time.svg" /> 28/04/2021
                                                    </span>
                                                    <span>
                                                        <img src="assets/images/icon/icon_eye.svg" /> 447
                                                    </span>
                                                </div>
                                                <a href="#" class="labrary_loadmore">Xem chi tiết <img src="assets/images/icon/icon_more.svg"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-post_other">
                                            <div class="thumnail">
                                                <img src="assets/images/thumb/post_2.png" width="100%"/>
                                            </div>
                                            <div class="content">
                                                <h3><a href="">Hiệu chỉnh XREF trong AutoCAD 2018 (menu Ribbon)</a></h3>
                                                <div class="view-port">
                                                    <span>
                                                        <img src="assets/images/icon/icon_time.svg" /> 28/04/2021
                                                    </span>
                                                    <span>
                                                        <img src="assets/images/icon/icon_eye.svg" /> 447
                                                    </span>
                                                </div>
                                                <a href="#" class="labrary_loadmore">Xem chi tiết <img src="assets/images/icon/icon_more.svg"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-post_other">
                                            <div class="thumnail">
                                                <img src="assets/images/thumb/post_3.png" width="100%"/>
                                            </div>
                                            <div class="content">
                                                <h3><a href="">Hiệu chỉnh XREF trong AutoCAD 2018 (menu Ribbon)</a></h3>
                                                <div class="view-port">
                                                    <span>
                                                        <img src="assets/images/icon/icon_time.svg" /> 28/04/2021
                                                    </span>
                                                    <span>
                                                        <img src="assets/images/icon/icon_eye.svg" /> 447
                                                    </span>
                                                </div>
                                                <a href="#" class="labrary_loadmore">Xem chi tiết <img src="assets/images/icon/icon_more.svg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="content_qc box-white">
                                <h3>Dự đoán Euro2020</h3>
                                <img src="assets/images/thumb/qc1.png"  width="100%"/>
                            </div>
                            <div class="qc1 mt-3">
                                <img src="assets/images/thumb/qc2.png" width="100%"/>
                            </div>
                            <div class="qc1 mt-3">
                                <img src="assets/images/thumb/qc3.png" width="100%"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
