<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-6 col-md-6">
            <h1>PHẦN MỀM MIỄN PHÍ</h1>
            <h2>
              Tự động tính toán, chọn thép, xuất thuyết minh, xuất bản vẽ, thống
              kê cốt thép
            </h2>
            <div class="group-button">
              <button>
                <img src="assets/images/Icon metro-file-download.svg" />
                <p>Download</p>
              </button>
              <button>
                <img src="assets/images/Icon material-phone-in-talk.svg " />
                <p>Liên hệ tư vấn</p>
              </button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <img src="assets/images/Group 2299.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content">
      <div class="container">
        <h1>Bộ Phần Mềm Miễn Phí</h1>
        <h2>
          Tất cả các phần mềm đều dễ dàng sử dụng, cài đặt và luôn được nâng cấp
          cập nhật tính năng mới
        </h2>
        <div class="row">
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_16.svg" />
            <div class="text-left">
              <h3>
                KCS Inside
                <br />
                <span>Quản lý các phần mềm KetcauSoft</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_17.svg" />
            <div class="text-left">
              <h3>
                TMT
                <br />
                <span> Thuyết minh tính toán tải trọng</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_18.svg" />
            <div class="text-left">
              <h3>
                QuickC
                <br />
                <span> Tiện ích tính nhanh của KetcauSoft</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_19.svg" />
            <div class="text-left">
              <h3>
                KCS Panel
                <br />
                <span> Bảng công cụ của KetcauSoft</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_20.svg" />
            <div class="text-left">
              <h3>
                SFD
                <br />
                <span> Triển khai chi tiết Móng băng</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_21.svg" />
            <div class="text-left">
              <h3>
                LAT
                <br />
                <span> Triển khai chi tiết Lanh tô</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_22.svg" />
            <div class="text-left">
              <h3>
                VCT
                <br />
                <span> Vẽ mặt cắt Thang</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_23.svg" />
            <div class="text-left">
              <h3>
                QuickDraw
                <br />
                <span> Tiện ích vẽ nhanh của KetcauSoft</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_22.svg" />
            <div class="text-left">
              <h3>
                STK
                <br />
                <span> Thống kê thép hình</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_24.svg" />
            <div class="text-left">
              <h3>
                STF
                <br />
                <span>Thiết kế khung thép tiền chế</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_25.svg" />
            <div class="text-left">
              <h3>
                STK
                <br />
                <span> Thống kê thép hình</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_26.svg" />
            <div class="text-left">
              <h3>
                KCS Etabs GEN
                <br />
                <span> Phần mềm hỗ trợ Etabs</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_27.svg" />
            <div class="text-left">
              <h3>
                KCS Plotter
                <br />
                <span> In ấn tự động trong CAD</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
          <div class="col-lg-3 col-md-6 software-page__content__box">
            <img src="assets/images/icon_menu_28.svg" />
            <div class="text-left">
              <h3>
                Excel To PDF
                <br />
                <span> Hỗ trợ xuất file PDF</span>
              </h3>
            </div>
            <img src="assets/images/Group 3140.jpg" class="more" />
          </div>
        </div>
        <div class="box-free pl-3 ml-0 row">
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="assets/images/Icon feather-settings.svg" />
            <p>
              Trải nghiệm bộ phần<br />
              mềm với đầy đủ tính năng
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="assets/images/Icon feather-headphones.svg" />
            <p>
              Hotline Tư vấn - <br />
              Hỗ trợ: 0397 306 689
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="assets/images/Icon feather-facebook.svg" />
            <p>
              Nhóm hỗ trợ<br />
              khách hàng trên Facebook
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="assets/images/icon-play.png" />
            <p>
              Kênh Youtube hướng<br />
              dẫn sử dụng phần mềm
            </p>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
