<html lang="vi">
<head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
</head> 
<body>
    @@include('../components/_header.html')
    <div class="app" >
        <div class="slide" style="height: 600px;background-color: #0e202e;">

        </div>
        <section class="main--set">
            <div class="content-over__slider container">
                <div class="row row-col-over">
                    <div class="col-md-6">
                        <div>
                            <img src="../assets/images/icon/felling.svg" align="left" />
                            <div>
                                <img src="../assets/images/icon/never_work.svg" />
                                <div class="mt-2 custom-btn__relax">
                                    <button type="button" class="btn btn-success"><img src="../assets/images/icon/icon_download.svg"/> Download</button>
                                    <button type="button" class="btn btn-outline-success">Dùng thử</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        KetcauSoft là hệ thống hoàn chỉnh cho quy trình thiết kế kết 
                        cấu. Trên cơ sở là một tập hợp các phần mềm hỗ trợ cho các 
                        kỹ sư kết cấu trong tất cả các khâu của việc lập hồ sơ kết cấu 
                        từ tính toán thiết kế đến trình bày bản vẽ, biên tập và xuất bản 
                        hồ sơ để người dùng thực hiện dễ dàng và thuận tiện nhất.
                        <img src="../assets/images/icon/to_right.svg" />
                    </div>
                </div>
            </div>
        </section>
    </div>
    @@include('../components/_footer.html')
</body>
</html>