<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page intro-pfd">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-12 col-md-12 text-center">
            <img src="../assets/images/icon_menu_3.svg" />
            <h1>PFD - THIẾT KẾ MÓNG CỌC</h1>
            <div class="group-button justify-content-center">
              <button>
                <img src="../assets/images/Icon metro-file-download.svg" />
                <p>Download</p>
              </button>
              <button>
                <img src="../assets/images/Icon material-phone-in-talk.svg " />
                <p>Liên hệ tư vấn</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content">
      <div class="container">
        <div class="section-feature__item row">
          <div class="col-lg-6 col-md-6 section-feature__item__list">
            <h1>PFD là gì?</h1>
            <h2>
              PFD 2015 là phần mềm thiết kế móng cọc, giao diện đồ họa trực
              quan, dễ thao tác và sử dụng. PFD 2015 áp dụng tiêu chuẩn thiết kế
              móng cọc mới <span>TCVN 10304:2014</span>.
            </h2>
            <div class="section-feature__item__list__active">
              <p>PFD 2015 bao gồm các chức năng chính như sau:</p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>Nhập nội lực từ file (*.mdb") xuất ra bởi Etabs</p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                Tính toán bố trí nhanh đài cọc, cho phép sử dụng nhiều phương án
                cọc trong một công trình
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                Xuất mặt bằng bố trí sơ bộ sang file DXF có thể mở được trong
                AutoCAD
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                Tính toán và xuất thuyết minh tính toán cốt thép sang file Excel
                cho đài cọc
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                Xuất dữ liệu sang file SAFE phục vụ tính toán các đài cọc phức
                tạp như đài thang máy v.v..
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <p>
                Áp dụng PFD trong thiết kế mang lại nhiều lợi ích thiết thực:
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>Xác định nhanh các phương án móng cọc.</p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>Giảm thời gian thực hiện tính toán đài cọc.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 section-feature__item__list--image">
            <img src="../assets/images/Mockup-GioiThieu-PhanMem.png" />
          </div>
        </div>
      </div>
      <div
        class="section-feature__item row bg-information text-center pt-4 pb-4"
      >
        <div class="container">
          <div class="col-lg-12 col-md-12 section-feature__item__list pl-0">
            <h1>Thông tin cập nhật</h1>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>12.03.2020 - Sửa lỗi xuất bảng tính toán sơ bộ.</p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                08.10.2019 - Chức năng đọc dữ liệu SAP thông qua file MDB và
                nhận diện điểm chia ảo của chân vách, chi tiết xem tại: thông
                báo cập nhật.
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                18.10.2018 - Bổ sung chức năng đọc dữ liệu từ SAP, chi tiết xem
                tại: thông báo cập nhật
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                19.09.2018 - Thay đổi thông báo khi tính lún trong trường hợp
                thỏa mãn điều kiện tắt lún ngay tại đáy khối móng quy ước.
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                28.05.2018 - Bổ sung chức năng tính lún, xem thêm tại thông báo
                cập nhật 28/05/2018
              </p>
            </div>
            <div class="section-feature__item__list__active">
              <img src="../assets/images/Icon ionic-ios-checkmark-circle.svg" />
              <p>
                22.12.2017 - Bổ sung một số phím tắt xem thông báo cập nhật
                22/12/2017
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-feature__item bg-gray pt-4 pb-4">
        <div class="container">
          <h1>Hình ảnh về phần mềm</h1>
          <div class="row pt-4">
            <div class="col-lg-5 col-md-6 section-feature__item__list">
              <div class="section-feature__item__list__box active">
                Giao diện chính của phần mềm
              </div>
              <div class="section-feature__item__list__box">
                Chức năng tính toán diện tích cốt thép cho đài cọc
              </div>
              <div class="section-feature__item__list__box">
                Xuất bảng tính toán diện tích cốt thép đài cọc
              </div>
            </div>
            <div class="col-lg-7 col-md-6 section-feature__item__list--image">
              <img
                src="../assets/images/Group 2318.png"
                class="object-fit-image"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row user-manual pt-4">
          <div class="col-lg-7 user-manual__left">
            <h3>Hướng dẫn sử dụng</h3>
            <ul>
              <li>
                <a href="#">Cập nhật cường độ vật liệu theo TCVN 5574:2018</a>
              </li>
              <li>
                <a href="#"
                  >Hướng dẫn sử dụng Phần mềm PFD 2015 - Thiết kế móng cọc</a
                >
              </li>
              <li>
                <a href="#">Lỗi Cannot create ActiveX component</a>
              </li>
              <li>
                <a href="#">Lỗi Etabs bị treo khi xuất MDB</a>
              </li>
              <li>
                <a href="#">Lỗi không chọn được đối tượng (Syntax error)</a>
              </li>
              <li>
                <a href="#">Cập nhật cường độ vật liệu theo TCVN 5574:2018</a>
              </li>
              <li>
                <a href="#">Cập nhật cường độ vật liệu theo TCVN 5574:2018</a>
              </li>
              <li>
                <a href="#"
                  >Hướng dẫn sử dụng Phần mềm PFD 2015 - Thiết kế móng cọc</a
                >
              </li>
              <li>
                <a href="#">Lỗi Cannot create ActiveX component</a>
              </li>
              <li>
                <a href="#">Lỗi Etabs bị treo khi xuất MDB</a>
              </li>
              <li>
                <a href="#">Lỗi không chọn được đối tượng (Syntax error)</a>
              </li>
              <li>
                <a href="#">Cập nhật cường độ vật liệu theo TCVN 5574:2018</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-5">
            <img src="../assets/images/Image 60.png" />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row list-video-thematic">
          <h1 class="col-lg-12 col-md-12 text-left">CLIP CHUYÊN ĐỀ</h1>
          <div class="col-lg-4 col-md-4 list-video-thematic__video">
            <img src="../assets/images/Image 86.png" />
            <img
              class="icon-play"
              src="../assets/images/Icon ionic-ios-play-circle.png"
            />
          </div>
          <div class="col-lg-4 col-md-4 list-video-thematic__video">
            <img src="../assets/images/Image 86.png" />
            <img
              class="icon-play"
              src="../assets/images/Icon ionic-ios-play-circle.png"
            />
          </div>
          <div class="col-lg-4 col-md-4 list-video-thematic__video">
            <img src="../assets/images/Image 86.png" />
            <img
              class="icon-play"
              src="../assets/images/Icon ionic-ios-play-circle.png"
            />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="box-free pl-3 ml-0 row">
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-settings.svg" />
            <p>
              Trải nghiệm bộ phần<br />
              mềm với đầy đủ tính năng
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-headphones.svg" />
            <p>
              Hotline Tư vấn - <br />
              Hỗ trợ: 0397 306 689
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/Icon feather-facebook.svg" />
            <p>
              Nhóm hỗ trợ<br />
              khách hàng trên Facebook
            </p>
          </div>
          <div class="col-lg-3 col-md-6 box-free__detail">
            <img src="../assets/images/icon-play.png" />
            <p>
              Kênh Youtube hướng<br />
              dẫn sử dụng phần mềm
            </p>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
