<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page intro-pfd">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-12 col-md-12 text-center">
            <img src="assets/images/Image 67.png" />
            <h1 class="pt-3">TRA CỨU HOẠT ĐỘNG TÁI SỬ DỤNG</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content bg-gray">
      <div class="container">
        <div class="section-feature__item row">
          <div class="col-lg-8 col-md-6 box-tutorial__right">
            <!-- tab3 -->
            <div class="box-tutorial__right__custom">
              <h2>HOẠT TẢI SỬ DỤNG</h2>
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <img src="assets/images/Icon ionic-md-time.png" />
                  <p class="mb-0 pb-0">28/04/2021</p>
                </div>
                <div class="d-flex align-items-center ml-2">
                  <img src="assets/images/Icon open-eye.png" />
                  <p class="mb-0 pb-0">477</p>
                </div>
                <div class="d-flex ml-auto">
                  <div class="d-flex align-items-center button-share-facebook">
                    <img src="assets/images/Icon awesome-facebook.png" />
                    <p class="mb-0 pb-0">Chia sẻ</p>
                  </div>
                  <div
                    class="d-flex align-items-center ml-2 button-like-facebook"
                  >
                    <img src="assets/images/Image 74.png" />
                    <p class="mb-0 pb-0">Thích</p>
                  </div>
                </div>
              </div>
            </div>
            <p class="pt-2">
              Bài viết dưới đây liệt kê giá trị hoạt tải sử dụng theo TCVN
              2737:1995
            </p>
            <img src="assets/images/Image 71.png" class="w-100 mt-0" />
            <h2 class="text-left text-note">
              Ghi chú: Giá trị trong bảng này là Giá trị tiêu chuẩn, đơn vị
              daN/m2
            </h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Loại phòng</th>
                  <th scope="col">Loại nhà và công trình</th>
                  <th scope="col">Toàn phần</th>
                  <th scope="col">Dài hạn</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2">1. Phòng ngủ</td>
                  <td>a) Khác sạn, bệnh viện, trại giam</td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td>
                    b) Nhà ở kiểu căn hộ, nhà trẻ, mẫu giáo, trường họ nội trú,
                    nhà nghỉ, nhà hưu trí, nhà điều dưỡng
                  </td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td rowspan="2">
                    2. Phòng ăn, phòng khách, buồng vệ sinh, phòng tắm, phòng
                    bida
                  </td>
                  <td>a) Nhà ở kiểu căn hộ</td>
                  <td>150</td>
                  <td class="text-center">150</td>
                </tr>
                <tr>
                  <td>
                    b) Nhà trẻ, mẫu giáo, trường học, nhà nghỉ, nhà hưu trí, nhà
                    điều dưỡng, khách sạn, bệnh viện, trại giam, trụ sở cơ quan,
                    nhà máy
                  </td>
                  <td>150</td>
                  <td class="text-center">150</td>
                </tr>
                <tr>
                  <td rowspan="2">1. Phòng ngủ</td>
                  <td>a) Khác sạn, bệnh viện, trại giam</td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td>
                    b) Nhà ở kiểu căn hộ, nhà trẻ, mẫu giáo, trường họ nội trú,
                    nhà nghỉ, nhà hưu trí, nhà điều dưỡng
                  </td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td rowspan="2">1. Phòng ngủ</td>
                  <td>a) Khác sạn, bệnh viện, trại giam</td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td>
                    b) Nhà ở kiểu căn hộ, nhà trẻ, mẫu giáo, trường họ nội trú,
                    nhà nghỉ, nhà hưu trí, nhà điều dưỡng
                  </td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td rowspan="2">1. Phòng ngủ</td>
                  <td>a) Khác sạn, bệnh viện, trại giam</td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td>
                    b) Nhà ở kiểu căn hộ, nhà trẻ, mẫu giáo, trường họ nội trú,
                    nhà nghỉ, nhà hưu trí, nhà điều dưỡng
                  </td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td rowspan="2">1. Phòng ngủ</td>
                  <td>a) Khác sạn, bệnh viện, trại giam</td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
                <tr>
                  <td>
                    b) Nhà ở kiểu căn hộ, nhà trẻ, mẫu giáo, trường họ nội trú,
                    nhà nghỉ, nhà hưu trí, nhà điều dưỡng
                  </td>
                  <td>200</td>
                  <td class="text-center">200</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4 col-md-6 section-feature__item__list">
            <div class="list-box-tutorial active">
              <div class="box-tutorial">
                <p>DANH MỤC TRA CỨU</p>
              </div>
              <ul>
                <li><a>Dữ liệu địa chất</a></li>
                <li><a>Hoạt tải sử dụng</a></li>
                <li><a>Thông số vật liệu</a></li>
                <li><a>Tra cứu tiêu chuẩn</a></li>
                <li><a>Các khái niệm trong thiết kế kết cấu</a></li>
              </ul>
            </div>
          </div>
          <div class="container">
            <div class="row user-manual pt-4">
              <div class="col-lg-8 user-manual__left text-left list-post-same">
                <h3>CÁC BÀI VIẾT LIÊN QUAN</h3>
                <ul>
                  <li>
                    <a href="#">Lỗi đọc file MDB</a>
                  </li>
                  <li>
                    <a href="#">Lỗi Etabs bị treo khi xuất MDB</a>
                  </li>
                  <li>
                    <a href="#">Giá trị gia tốc tùy chỉnh</a>
                  </li>
                  <li>
                    <a href="#"
                      >Hướng dẫn sử dụng Phần mềm EQL - Tính toán tải trọng động
                      đất</a
                    >
                  </li>
                  <li>
                    <a href="#">Lỗi không xuất được file Excel</a>
                  </li>
                  <li>
                    <a href="#">Xuất dữ liệu từ Etabs 2013 ~ 2017 (tính gió)</a>
                  </li>
                  <li>
                    <a href="#">Xuất Excel - Tùy biến mẫu file excel</a>
                  </li>
                  <li>
                    <a href="#">Khoảng cách từ mặt đất tới mặt móng</a>
                  </li>
                  <li>
                    <a href="#">Bề rộng đón gió</a>
                  </li>
                  <li>
                    <a href="#">Lỗi đọc file MDB</a>
                  </li>
                  <li>
                    <a href="#">Lỗi Etabs bị treo khi xuất MDB</a>
                  </li>
                  <li>
                    <a href="#"
                      >Nhập thông số đối với công trình không tính gió Động</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-lg-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_foot.html')
    @@include('../components/_footer.html')
  </body>
</html>
