<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="search-page">
      <div class="search-page__top form-standard">
        <img src="assets/images/823075-200.png" />
        <h1>TRA CỨU TIÊU CHUẨN</h1>
      </div>
      <div class="container">
        <div class="search-page__top__form">
          <form>
            <!-- <div class="form-group">
              <label for="exampleInputEmail1">NHẬP TỪ KHÓA ĐỂ TÌM KIẾM</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Nhập từ khóa"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div> -->
            <p>NHẬP TỪ KHÓA ĐỂ TÌM KIẾM</p>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Recipient's username"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Tìm kiếm</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  TCVN 10304:2014
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  TCVN 2737:1995
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  TCVN 5574:2018
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  TCVN 9386:2012
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Tìm kiếm theo từ khóa rời rạc
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="search-page__center section-member">
          <img src="assets/images/Group 2453.png" />
          <h1>CHÂN THÀNH CẢM ƠN SỰ ĐÓNG GÓP CỦA CÁC THÀNH VIÊN</h1>
          <div class="list-member">
            <div class="member-company">
              <img src="assets/images/Ellipse 303.png" />
              <p>ketcauplus</p>
            </div>
            <div class="member-company">
              <img src="assets/images/Ellipse 303.png" />
              <p>ketcauplus</p>
            </div>
            <div class="member-company">
              <img src="assets/images/Ellipse 303.png" />
              <p>ketcauplus</p>
            </div>
            <div class="member-company">
              <img src="assets/images/Ellipse 303.png" />
              <p>ketcauplus</p>
            </div>
            <div class="member-company">
              <img src="assets/images/Ellipse 303.png" />
              <p>ketcauplus</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
