<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page intro-pfd">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-12 col-md-12 text-center">
            <img src="assets/images/Icon feather-info.png" />
            <h1 class="pt-3">
              HƯỚNG DẪN SỬ DỤNG<br />
              PHẦN MỀM KETCAUSOFT
            </h1>
            <div class="group-button justify-content-center">
              <button>
                <img src="assets/images/Icon metro-file-download.svg" />
                <p>Download</p>
              </button>
              <button>
                <img src="assets/images/Icon material-phone-in-talk.svg " />
                <p>Liên hệ tư vấn</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content bg-gray">
      <div class="container">
        <div class="section-feature__item row">
          <div class="col-lg-4 col-md-6 section-feature__item__list">
            <div class="list-box-tutorial active">
              <div class="box-tutorial">
                <p>Hướng dẫn chung</p>
              </div>
            </div>

            <div class="list-box-tutorial">
              <div class="box-tutorial">
                <p>Phần mềm tính toán</p>
                <img src="../assets/images/icon-check-gray.png" class="show" />
                <img src="../assets/images/icon-show-more.png" class="hide" />
              </div>
              <ul>
                <li>
                  <img src="../assets/images/icon_menu_1.svg" /><a
                    >IFD - Thiết kế Móng đơn</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_2.svg" /><a
                    >PBC - Tính toán sức chịu tải của Cọc</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_3.svg" /><a
                    >PFD - Thiết kế Móng cọc</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_4.svg" /><a
                    >EQL - Tính toán tải trọng Động đất</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_5.svg" /><a
                    >WDL - Tính toán tải trọng Gió</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_6.svg" /><a
                    >RCC - Tính toán và thiết kế cốt thép Cột</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_7.svg" /><a
                    >KTV - Kiểm tra Vách</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_8.svg" /><a
                    >RCBc - Tính toán cốt thép Dầm</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_9.svg" /><a
                    >RCSc - Thiết kế cốt thép Sàn</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_10.svg" /><a
                    >STF - Thiết kế khung thép tiền chế</a
                  >
                </li>
              </ul>
            </div>
            <div class="list-box-tutorial">
              <div class="box-tutorial">
                <p>phần mềm thể hiện bản vẽ</p>
                <img src="../assets/images/icon-check-gray.png" class="show" />
                <img src="../assets/images/icon-show-more.png" class="hide" />
              </div>
              <ul>
                <li>
                  <img src="../assets/images/icon_menu_1.svg" /><a
                    >IFD - Thiết kế Móng đơn</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_2.svg" /><a
                    >PBC - Tính toán sức chịu tải của Cọc</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_3.svg" /><a
                    >PFD - Thiết kế Móng cọc</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_4.svg" /><a
                    >EQL - Tính toán tải trọng Động đất</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_5.svg" /><a
                    >WDL - Tính toán tải trọng Gió</a
                  >
                </li>
              </ul>
            </div>
            <div class="list-box-tutorial">
              <div class="box-tutorial">
                <p>phần mềm miễn phí</p>
                <img src="../assets/images/icon-check-gray.png" class="show" />
                <img src="../assets/images/icon-show-more.png" class="hide" />
              </div>
              <ul>
                <li>
                  <img src="../assets/images/icon_menu_6.svg" /><a
                    >RCC - Tính toán và thiết kế cốt thép Cột</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_7.svg" /><a
                    >KTV - Kiểm tra Vách</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_8.svg" /><a
                    >RCBc - Tính toán cốt thép Dầm</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_9.svg" /><a
                    >RCSc - Thiết kế cốt thép Sàn</a
                  >
                </li>
                <li>
                  <img src="../assets/images/icon_menu_10.svg" /><a
                    >STF - Thiết kế khung thép tiền chế</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8 col-md-6 box-tutorial__right">
            <!-- tab1 -->
            <!-- <h1>Hướng dẫn chung</h1>
            <p class="font-weight-bold pt-3">Hotline hỗ trợ</p>
            <p>
              Liên hệ holine hỗ trợ
              <span class="text-danger">0397 306 689</span> hoặc zalo
              <span class="text-danger">0918 029 930</span> khi bạn cần hỗ trợ
              về cài đặt và sử dụng phần mềm.
            </p>
            <p class="font-weight-bold pt-3">Đăng ký dùng thử</p>
            <p>
              Hệ thống sẽ tự động phê duyệt sau khi đăng ký tài khoản người
              dùng, xem hướng dẫn tại đây:
              <a href="#">Đăng ký dùng thử phần mềm KetcauSoft.</a>
            </p>
            <p class="font-weight-bold pt-3">Cài đặt bộ phần mềm</p>
            <p>
              Xem hướng dẫn cài đặt tại đây:
              <a href="#">Các bước cài đặt bộ phần mềm KetcauSoft</a>
            </p>
            <p class="font-weight-bold pt-3">Chạy các phần mềm</p>
            <p>
              Sau khi cài đặt, bạn chạy các phần mềm qua menu Chạy phần mềm của
              ứng dụng KCS Inside (tự động bật sau khi cài đặt)
            </p>
            <img src="assets/images/Image 61.png" />
            <p class="font-weight-bold">
              Các clip hướng dẫn Xem thêm trang Youtube:
              https://www.youtube.com/channel/UCknxlWSubLpP0opUDsDH52A
            </p> -->

            <!-- tab2 -->
            <!-- <h1>EQL - TÍNH TOÁN TẢI TRỌNG ĐỘNG ĐẤT</h1>
            <div class="box-tutorial__right--title">
              <img src="../assets/images/Icon awesome-file-signature.png" />
              <p>hướng dẫn sử dụng</p>
            </div>
            <div class="list-tutorial">
              <ul>
                <li>Giá trị chuyển dịch tỉ đối được chuẩn hóa</li>
                <li>Giá trị gia tốc tùy chỉnh</li>
                <li>
                  Hướng dẫn sử dụng Phần mềm EQL - Tính toán tải trọng động đất
                </li>
                <li>Lỗi Etabs bị treo khi xuất MDB</li>
                <li>Lỗi không xuất được file Excel</li>
                <li>Lỗi đọc file MDB</li>
                <li>Xuất dữ liệu từ Etabs 2013 ~ 2017 (tính gió)</li>
                <li>Xuất Excel - Tùy biến mẫu file excel</li>
              </ul>
            </div>
            <div class="box-tutorial__right--title">
              <img src="../assets/images/Icon material-sms-failed.png" />
              <p>CÁC LỖI THƯỜNG GẶP</p>
            </div>
            <div class="list-tutorial">
              <ul>
                <li>Lỗi thứ nhất</li>
                <li>Lỗi thứ hai</li>
              </ul>
            </div>
            <div class="box-tutorial__right--title">
              <img src="../assets/images/Icon material-videocam.png" />
              <p>CLIP CHUYÊN ĐỀ</p>
            </div>
            <div class="row box-tutorial__right__list-video">
              <div
                class="col-lg-4 col-md-4 box-tutorial__right__list-video__video"
              >
                <img src="assets/images/Image 86.png" />
                <img
                  class="icon-play"
                  src="assets/images/Icon ionic-ios-play-circle.png"
                />
              </div>
              <div
                class="col-lg-4 col-md-4 box-tutorial__right__list-video__video"
              >
                <img src="assets/images/Image 86.png" />
                <img
                  class="icon-play"
                  src="assets/images/Icon ionic-ios-play-circle.png"
                />
              </div>
              <div
                class="col-lg-4 col-md-4 box-tutorial__right__list-video__video"
              >
                <img src="assets/images/Image 86.png" />
                <img
                  class="icon-play"
                  src="assets/images/Icon ionic-ios-play-circle.png"
                />
              </div>
            </div>
            <h4 class="show-more-list">Xem tất cả 5</h4> -->

            <!-- tab3 -->
            <h1>Giá trị chuyển dịch tỉ đối được chuẩn hóa</h1>
            <p>
              Chuyển dịch tỉ đối là kết quả của quá trình phân tích động lực học
              kết cấu; chuyển dịch tỉ đối cho thấy vị trí tương đối của các khối
              lượng của kết cấu trong các dạng dao động. Tỉ lệ giữa các chuyển
              dịch tỉ đối xác định nên hình dạng của kết cấu trong các dạng dao
              động.
            </p>
            <p>
              Sở dĩ gọi là chuyển dịch tỉ đối là do các chuyển dịch trên chỉ là
              giá trị tương đối giữa các chuyển vị của các tầng, trong đó thì
              một giá trị được chọn làm chuẩn và các giá trị còn lại được xác
              định dựa trên tỉ lệ với giá trị được chọn này. Chuyển dịch tỉ đối
              do đó là một đại lượng không có thứ nguyên.
            </p>
            <p>
              Giá trị chuyển dịch tỉ đối được sử dụng để tính toán các thành
              phần tải trọng như thành phần động của tải trọng gió và động đất.
            </p>
            <p>
              Tổng giá trị thành phần động tải trọng gió (lực cắt đáy) tác dụng
              lên công trình được xác định theo công thức:
            </p>
            <img src="../assets/images/Image 62.png" />
            <p>
              Lực cắt đáy đối với tải trọng động đất tính toán theo phương pháp
              phân tích phổ phản ứng dạng dao động được xác định theo công thức:
            </p>
            <img src="../assets/images/Image 63.png" />
            <p>
              Các công thức trên cho thấy phần quan trọng của giá trị chuyển
              dịch tỉ đối giữa các tầng là tỉ lệ giữa chúng, còn giá trị thực
              của chúng sẽ bị triệt tiêu theo tỉ lệ.
            </p>
            <p>
              Do đó trong các phần mềm tính toán tải trọng WDL và EQL, các giá
              trị chuyển dịch tỉ đối (Building Mode) được chuẩn hóa bằng cách
              chọn giá trị chuyển dịch trên đỉnh là 1, và các giá trị còn lại
              được lấy dựa theo tỉ lệ giữa các chuyển dịch của các tầng. Điều
              này được thực hiện với mục đích làm gọn các thông số trung gian mà
              không ảnh hưởng đến kết quả tính toán
            </p>
            <p>Kết quả của phần mềm Etabs</p>
            <img src="../assets/images/Image 64.png" />
            <p>
              Giá trị được chuẩn hóa trong các phần mềm WDL, EQL, trên nguyên
              tắc tỉ lệ giữa các chuyển dịch tỉ đối là không đổi
            </p>
            <img src="../assets/images/Image 65.png" />
          </div>
          <div class="container">
            <div class="row user-manual pt-4">
              <div class="col-lg-4"></div>
              <div class="col-lg-8 user-manual__left text-left list-post-same">
                <h3>CÁC BÀI VIẾT LIÊN QUAN</h3>
                <ul>
                  <li>
                    <a href="#">Lỗi đọc file MDB</a>
                  </li>
                  <li>
                    <a href="#">Lỗi Etabs bị treo khi xuất MDB</a>
                  </li>
                  <li>
                    <a href="#">Giá trị gia tốc tùy chỉnh</a>
                  </li>
                  <li>
                    <a href="#"
                      >Hướng dẫn sử dụng Phần mềm EQL - Tính toán tải trọng động
                      đất</a
                    >
                  </li>
                  <li>
                    <a href="#">Lỗi không xuất được file Excel</a>
                  </li>
                  <li>
                    <a href="#">Xuất dữ liệu từ Etabs 2013 ~ 2017 (tính gió)</a>
                  </li>
                  <li>
                    <a href="#">Xuất Excel - Tùy biến mẫu file excel</a>
                  </li>
                  <li>
                    <a href="#">Khoảng cách từ mặt đất tới mặt móng</a>
                  </li>
                  <li>
                    <a href="#">Bề rộng đón gió</a>
                  </li>
                  <li>
                    <a href="#">Lỗi đọc file MDB</a>
                  </li>
                  <li>
                    <a href="#">Lỗi Etabs bị treo khi xuất MDB</a>
                  </li>
                  <li>
                    <a href="#"
                      >Nhập thông số đối với công trình không tính gió Động</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_foot.html')
    @@include('../components/_footer.html')
  </body>
</html>
