<html lang="vi">
  <head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
  </head>
  <body>
    @@include('../components/_header.html')
    <div class="software-page intro-pfd">
      <div class="container">
        <div class="software-page__box-intro pb-2 row">
          <div class="col-lg-12 col-md-12 text-center">
            <img src="../assets/images/Icon feather-info.png" />
            <h1 class="pt-3">HƯỚNG DẪN SỬ DỤNG<br/>
              PHẦN MỀM KETCAUSOFT</h1>
            <div class="group-button justify-content-center">
              <button>
                <img src="../assets/images/Icon metro-file-download.svg" />
                <p>Download</p>
              </button>
              <button>
                <img src="../assets/images/Icon material-phone-in-talk.svg " />
                <p>Liên hệ tư vấn</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="software-page__content bg-gray">
      <div class="container">
        <div class="section-feature__item row">
          <div class="col-lg-4 col-md-6 section-feature__item__list">
            <div class="box-tutorial active">
              <p>Hướng dẫn chung</p>
            </div>
            <div class="box-tutorial">
              <p>Phần mềm tính toán</p>
              <img src="../assets/images/icon-check-gray.png">
            </div>
            <div class="box-tutorial">
              <p>phần mềm thể hiện bản vẽ</p>
              <img src="../assets/images/icon-check-gray.png">
            </div>
            <div class="box-tutorial">
              <p>phần mềm miễn phí</p>
              <img src="../assets/images/icon-check-gray.png">
            </div>
          </div>
          <div class="col-lg-8 col-md-6 box-tutorial__right">
            <h1>Hướng dẫn chung</h1>
            <p class="font-weight-bold pt-3">Hotline hỗ trợ</p>
            <p>Liên hệ holine hỗ trợ <span class="text-danger">0397 306 689</span> hoặc zalo <span class="text-danger">0918 029 930</span> khi bạn cần hỗ trợ về cài đặt và sử dụng phần mềm.</p>
            <p class="font-weight-bold pt-3">Đăng ký dùng thử</p>
            <p>Hệ thống sẽ tự động phê duyệt sau khi đăng ký tài khoản người dùng, xem hướng dẫn tại đây: <a href="#">Đăng ký dùng thử phần mềm KetcauSoft.</a></p>
            <p class="font-weight-bold pt-3">Cài đặt bộ phần mềm</p>
            <p>Xem hướng dẫn cài đặt tại đây: <a href="#">Các bước cài đặt bộ phần mềm KetcauSoft</a></p>
            <p class="font-weight-bold pt-3">Chạy các phần mềm</p>
            <p>Sau khi cài đặt, bạn chạy các phần mềm qua menu Chạy phần mềm của ứng dụng KCS Inside (tự động bật sau khi cài đặt)</p>
            <img src="../assets/images/Image 61.png" />
            <p class="font-weight-bold">Các clip hướng dẫn
              Xem thêm trang Youtube: https://www.youtube.com/channel/UCknxlWSubLpP0opUDsDH52A</p>
          </div>
        </div>
      </div>
    </div>
    @@include('../components/_footer.html')
  </body>
</html>
