<!DOCTYPE html>
<html lang="en">
<head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
</head>
<body>
    @@include('../components/_header_authentication.html')
    <div class="banner-over-bottom1 user-banner">
        <div class="container">
            <div class="over-shadow">
                <ul>
                    <li><a href=""><img src="assets/images/icon_user_info_black.svg" alt=""> THÔNG TIN CÁ NHÂN</a></li>
                    <li><a href="" ><img src="assets/images/icon_notification.svg" alt=""> THÔNG BÁO</a></li>
                    <li><a href="" class="active"><img src="assets/images/icon_file_white.svg" alt=""> TÀI LIỆU KETCAUSOFT</a></li>
                </ul>
            </div>
        </div>
    </div>
      
      <div class="user-ketcausoft">
          <div class="container">

            <h1>bạn đã trở thành thành viên cao cấp</h1>
            <div class="container__search-header">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa">
                    <select class="form-control col-2">
                        <option selected>Tất cả</option>
                        <option>Clip chuyên đề</option>
                        <option>Khóa học</option>
                        <option>Tài liệu</option>
                      </select>
                    <div class="input-group-append">
                        
                      <button class="btn btn-primary" type="button"><img src="assets/images/icon-map-search.svg"> Tìm kiếm</button>
                    </div>
                </div>

                <ul class="container__search-keyword">
                    <li class="container__search-keyword__item"><a href="">Từ khóa 1</a></li>
                    <li class="container__search-keyword__item"><a href="">Từ khóa 2</a></li>
                    <li class="container__search-keyword__item"><a href="">Từ khóa 3</a></li>
                    <li class="container__search-keyword__item"><a href="">Từ khóa 4</a></li>
                    <li class="container__search-keyword__item"><a href="">Từ khóa 5</a></li>
                    <li class="container__search-keyword__item"><a href="">Từ khóa 6</a></li>
                </ul>
            </div>

            <div class="section-clip-thematic">
                <div class="section-clip-thematic__header">
                    <h2 class="section-clip-thematic__title">
                        clip chuyên đề
                    </h2>
                    <div class="section-clip-thematic__more">
                        <a href="">Xem tất cả <span>5</span></a>
                    </div>
                </div>
                
                <div class="section-clip-thematic__body row">
                    <div class="section-clip-thematic__item col-lg-4 col-md-6 col-sm-12">
                        <img src="assets/images/clip_thematic.svg" alt="">
                    </div>
                    <div class="section-clip-thematic__item col-lg-4 col-md-6 col-sm-12">
                        <img src="assets/images/clip_thematic.svg" alt="">
                    </div>
                    <div class="section-clip-thematic__item col-lg-4 col-md-6 col-sm-12">
                        <img src="assets/images/clip_thematic.svg" alt="">
                    </div>
                    <div class="section-clip-thematic__item col-lg-4 col-md-6 col-sm-12">
                        <img src="assets/images/clip_thematic.svg" alt="">
                    </div>
                    <div class="section-clip-thematic__item col-lg-4 col-md-6 col-sm-12">
                        <img src="assets/images/clip_thematic.svg" alt="">
                    </div>
                    <div class="section-clip-thematic__item col-lg-4 col-md-6 col-sm-12">
                        <img src="assets/images/clip_thematic.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="section-clip-thematic section-course">
                <div class="section-clip-thematic__header">
                    <h2 class="section-clip-thematic__title">
                        khoá học ketcausoft
                    </h2>
                    <div class="section-clip-thematic__more">
                        <a href="">Xem tất cả <span>5</span></a>
                    </div>
                </div>
                <img src="assets/images/icon_course_prev.svg" alt="" class="course-prev">
                <div class="section-course__body row">
                    <div class="section-course__item col-lg-4 col-md-6 col-sm-12">
                        <div class="wrap-image">
                            <img src="assets/images/course.svg" alt="">
                        </div>
                        <div class="section-course__title">tên khoá học ketcausoft</div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>
                    <div class="section-course__item col-lg-4 col-md-6 col-sm-12">
                        <div class="wrap-image">
                            <img src="assets/images/course.svg" alt="">
                        </div>
                        <div class="section-course__title">tên khoá học ketcausoft</div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>
                    <div class="section-course__item col-lg-4 col-md-6 col-sm-12">
                        <div class="wrap-image">
                            <img src="assets/images/course.svg" alt="">
                        </div>
                        <div class="section-course__title">tên khoá học ketcausoft</div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>
                    
                </div>
                <img src="assets/images/icon_course_next.svg" alt="" class="course-next">
            </div>

            <div class="section-clip-thematic section-document">
                <div class="section-clip-thematic__header">
                    <h2 class="section-clip-thematic__title">
                        tài liệu ketcausoft
                    </h2>
                    <div class="section-clip-thematic__more">
                        <a href="">Xem tất cả <span>5</span></a>
                    </div>
                </div>
                
                <div class="section-document__body row">
                    <div class="section-document__left col-lg-6 col-md-12">
                        <ol class="section-document__list">
                            <li class="section-document__item">
                                <span>1. Hướng dẫn thực hành etabs cơ bản</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>2. Tính độ võng của dầm</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>3. Kiến thức sử dụng Etabs</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>4. TCVN 5574:2018 - Kết cấu BT và BTCT</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>5. Bản vẽ móng cọc nhà dân</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>6. Bảng tính thẩm tra</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>7. CTK 20161119</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>8. KCS Plotter</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>9. Mẫu hatch bê tông</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>10. KCS chỉ dẫn thiết kế sàn vượt nhịp lớn</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                        </ol>
                    </div>
                    <div class="section-document__right col-lg-6 col-md-12">
                        <ol class="section-document__list">
                            <li class="section-document__item">
                                <span>1. QCVN 06-2121-BXD</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>2. Kiểm tra chọc thủng theo TCVN 5574:2018</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>3. Danh sách lệnh của KetcauSoft trong CAD</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>4. Tải trọng Gió theo TCVN 2737:2020</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>5. Chi tiết gia cường đai dầm tại vị trí giao nhau</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>6. File AutoCAD Config để khắc phục lỗi load file DLL</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>7. Ví dụ so sánh trường hợp vẽ xoay cột trong Etabs</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>8. Tính võng nứt theo TCVN 5574:2018</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>9. Hướng dẫn triển khai hồ sơ Kết cấu - File tham khảo</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                            <li class="section-document__item">
                                <span>10. Kiểm tra dầm thép hộp sàn Cemboard</span>
                                <img src="assets/images/icon_download.svg" alt="">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="section-benefit">
                <h1>quyền lợi người dùng gói tài khoản cao cấp</h1>

                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col" class="col-lg-6 col-md-12">Basic</th>
                        <th scope="col" class="col-lg-6 col-md-12">Premium</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet</td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Sed diam nonumy eirmod tempor.</td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Sed diam nonumy eirmod tempor.</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Sed diam nonumy eirmod tempor. </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Sed diam nonumy eirmod tempor. </td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Consetetur sadipscing elitr, sed diam. </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Consetetur sadipscing elitr, sed diam. </td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr. </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr. </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>

        
    @@include('../components/_foot.html') @@include('../components/_footer.html')

</body>
</html>