<!DOCTYPE html>
<html lang="en">
<head>
    @@include('../components/_head.html', { "title": "Meta title for web" })
</head>
<body>
    @@include('../components/_header_authentication.html')
    <div class="banner-over-bottom1 user-banner">
        <div class="container">
            <div class="over-shadow">
                <ul>
                    <li><a href=""><img src="assets/images/icon_user_info_black.svg" alt=""> THÔNG TIN CÁ NHÂN</a></li>
                    <li><a href="" ><img src="assets/images/icon_notification.svg" alt=""> THÔNG BÁO</a></li>
                    <li><a href="" class="active"><img src="assets/images/icon_file_white.svg" alt=""> TÀI LIỆU KETCAUSOFT</a></li>
                </ul>
            </div>
        </div>
    </div>
      
      <div class="user-ketcausoft">
          <div class="container">
            <div class="section-moment">
                <h1>bạn chưa sở hữu tài liệu nào</h1>

                <img src="assets/images/no_moment.svg" alt="">
                <p>Đăng ký gói tài khoản cao cấp để nhận tất cả tài liệu hướng dẫn của Ketcausoft!</p>
                <button class="btn">Go Premium</button>
            </div>

            <div class="section-benefit">
                <h1>quyền lợi người dùng gói tài khoản cao cấp</h1>

                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col" >Basic</th>
                        <th scope="col" >Premium</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet</td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Sed diam nonumy eirmod tempor.</td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Sed diam nonumy eirmod tempor.</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Sed diam nonumy eirmod tempor. </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Sed diam nonumy eirmod tempor. </td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Consetetur sadipscing elitr, sed diam. </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Consetetur sadipscing elitr, sed diam. </td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/icon_close_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr. </td>
                        <td><img src="assets/images/icon_check_circle.svg" alt=""> Lorem ipsum dolor sit amet, consetetur sadipscing elitr. </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>

        
    @@include('../components/_foot.html') @@include('../components/_footer.html')

</body>
</html>