<html lang="vi">
    <head>
        @@include('../components/_head.html', { "title": "Meta title for web" })
    </head>
    <body>
        @@include('../components/_header.html') @@include('../components/_banner_library.html')
        <div class="main-page">
            <div class="main-page">
                <div id="library" >
                    <div class="container">
                        <div class="library-hot_sale">
                            <h2 class="h2-center">VIDEO HƯỚNG DẨN SỬ DỤNG PHẦN MỀM</h2>
                        </div>
                        <div class="library-view_hot video-view-hot">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="col-post_other">
                                        <div class="thumnail">
                                            <img src="assets/images/thumb/image_video.png" width="100%"/>
                                        </div>
                                        <div class="content">
                                            <h3><a href="">Sửa lỗi vẽ thép cột khi tầng trên cùng thấp</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-post_other">
                                        <div class="thumnail">
                                            <img src="assets/images/thumb/image_video.png" width="100%"/>
                                        </div>
                                        <div class="content">
                                            <h3><a href="">Hướng dẫn xuất file Access Etabs 2018 
                                                chung cho các phần mềm tính toán Cột - 
                                                Dầm - Móng - Vách</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-post_other">
                                        <div class="thumnail">
                                            <img src="assets/images/thumb/image_video.png" width="100%"/>
                                        </div>
                                        <div class="content">
                                            <h3><a href="">Hướng dẫn xuất file Access Etabs 9.7.4 
                                                chung cho các phần mềm tính Cột - Dầm - 
                                                Sàn - Móng</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-post_other">
                                        <div class="thumnail">
                                            <img src="assets/images/thumb/image_video.png" width="100%"/>
                                        </div>
                                        <div class="content">
                                            <h3><a href="">Hướng dẫn xuất file Access Etabs 2016 ~ 
                                                2017 chung cho các phần mềm tính Cột - 
                                                Dầm - Móng - Vách</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-post_other">
                                        <div class="thumnail">
                                            <img src="assets/images/thumb/image_video.png" width="100%"/>
                                        </div>
                                        <div class="content">
                                            <h3><a href="">VẼ LANH TO</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-post_other">
                                        <div class="thumnail">
                                            <img src="assets/images/thumb/image_video.png" width="100%"/>
                                        </div>
                                        <div class="content">
                                            <h3><a href="">VẼ MÓNG ĐƠN</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <p>Đăng kí kênh Youtube của chúng tôi để xem thêm và cập nhật những video mới nhất!</p>
                                    <button class="btn  btn-radius-custom btn-youtube">Xem kênh Youtube <img src="assets/images/icon/arrow_white.svg" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('../components/_foot.html') @@include('../components/_footer.html')
    </body>
</html>
