<section class="banner_library">
    <img src="assets/images/thumb/banner_library.png" />
    <h5 class="caption-text">
        THƯ VIỆN KETCAUSOFT
    </h5>

    <div class="banner_search">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><a class="active" href="">BÀI VIẾT</a></li>
                        <li><a href="">TÀI LIỆU</a></li>
                        <li><a href="">VIDEO</a></li>
                        <li><a href="">FORUM</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="banner-form">
                        <form class="form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tìm kiếm trong thư viện" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <button type="submit" class="btn">
                                    <img src="assets/images/icon/icon_search_blue.svg"/>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
