<section class="banner_daotao">
    <img src="assets/images/thumb/banner_daotao.png" width="100%"/>
    <div class="context_datao">
        <h3>ĐÀO TẠO TRỰC TUYẾN</h3>
        <h1>HỌC NHANH CHÓNG - LÀM VIỆC HIỆU QUẢ</h1>
        <h4>Chủ Động Học Bất Cứ Khi Nào Bạn Muốn</h4>
    </div>
    <div class="banner-over-bottom">
        <div class="container">
            <div class="over-shadow">
                <div class="row">
                    <div class="col-md-3">
                        <div class="item_over">
                            <div class="thumb">
                                <img src="assets/images/icon/icon_bss_1.svg">
                            </div>
                            <div class="text-content">
                                học đứng nhu cầu, theo thời gian biểu của bạn
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_over">
                            <div class="thumb">
                                <img src="assets/images/icon/icon_bss_2.svg">
                            </div>
                            <div class="text-content">
                                tự quyết định tiền độ học của bản thân
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_over">
                            <div class="thumb">
                                <img src="assets/images/icon/icon_bss_3.svg">
                            </div>
                            <div class="text-content">
                                đội ngũ chuyên gia giảng dạy chất lượng
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item_over">
                            <div class="thumb">
                                <img src="assets/images/icon/icon_bss_4.svg">
                            </div>
                            <div class="text-content">
                                các khóa học luôn được cập nhật mới nhất
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>