<section class="banner_daotao_sub">
    <img src="../assets/images/thumb/banner_daotao.png" width="100%"/>
    <div class="container container-over">
        <div class="context_datao">
            <div class="row">
                <div class="col-md-6">
                    <h1>Khóa học 1</h1>
                    <div class="content-text">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    </div>
                    <button class="btn btn-sell">
                        <img src="../assets/images/icon/icon_cart_white.svg"/>  học ngay - 400.000vnđ
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="itemm">
                        <img src="../assets/images/thumb/over_daotao.png" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner-over-bottom1">
    <div class="container">
        <div class="over-shadow">
            <ul>
                <li><a href="" class="active">Giới thiệu khoá học</a></li>
                <li><a href="">Đăng ký khoá học</a></li>
                <li><a href="">Hướng dẩn đăng ký</a></li>
                <li><a href="">Đánh giá học viên</a></li>
            </ul>
        </div>
    </div>
</div>