<footer class="bg-footer">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-2 col-md-6 mb-2 mb-lg-0">
            <img src="assets/images/logo.svg" alt="" width="140" class="mb-3">
            <img src="assets/images/Group 693.svg" alt="" width="140" class="mb-3">
            <img src="assets/images/Group 692.svg" alt="" width="140" class="mb-3">
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">LIÊN HỆ</h6>
            <ul class="list-unstyled mb-0">
                <li class=""><a href="#" class="font-weight-bold">KETCAUSOFT</a></li>
                <li class="row"><p class="col-lg-3 pr-0">VP Hà Nội:</p><p class="col-lg-9">104 Kim Giang, Hoàng Mai, Hà Nội</p></li>
                <li class="row"><p class="col-lg-3 pr-0">Điện thoại:</p><p class="col-lg-9">(024) 6260 2415</p></li>
                <li class="row"><p class="col-lg-3 pr-0">Hotline:</p><p class="col-lg-9">0397 306 689</p></li>
                <li class="row"><p class="col-lg-3 pr-0">Zalo:</p><p class="col-lg-9">0918 029 930</p></li>
                <li class="row"><p class="col-lg-3 pr-0">Email:</p><p class="col-lg-9">info@ketcausoft.com</p></li>
                <li class="row pl-3">
                <img src="assets/images/Group 3140.png" alt="" width="27" class="mb-3">
                <img src="assets/images/Group 3141.png" alt="" width="27" class="mb-3 mx-2">
                <img src="assets/images/Group 3142.png" alt="" width="27" class="mb-3">
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">THÔNG TIN CẬP NHẬT</h6>
          <ul class="list-unstyled footer-line-height  mb-0">
            <li class="mb-2"><a href="#" class="">Khóa học thiết kế Kết cấu Online
              Webinar ngày 23/4/2020: Tải trọng Gió theo TCVN 2737:2020
              KTV - Cập nhật ngày 19/04/2021
              RCBc - Cập nhật ngày 09/03/2021
              RCCd - Cập nhật ngày 01/03/2021</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">PHẦN MỀM</h6>
          <ul class="list-unstyled footer-line-height mb-0">
            <li><a href="#" class="">PHẦN MỀM TÍNH TOÁN</a></li>
            <li><a href="#" class="">PHẦN MỀM THỂ HIỆN BẢN VẼ</a></li>
            <li><a href="#" class="">PHẦN MỀM MIỄN PHÍ</a></li>
            <li><a href="#" class="">SÁT HẠCH CCHC</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-copyright">
      <div class="container text-center">
        <p class=" mb-0">Ketcausoft © 2021 All Rights Reserved</p>
      </div>
    </div>
  </footer>
  <!-- End -->
  