<div class="footer_education">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="slogan">
                    <h1>KẾT NỐI NHIỀU HƠN <br /> VỚI KETCAUSOFT</h1>
                    <p>Tham gia nhóm Facebook sau để trao đổi trong quá trình học.</p>
                </div>
            </div>
            <div class="col-md-6 thum_social">
                <img src="assets/images/icon/thumb_facebook.svg" class="mr--5"  height="100%"/>
                <img src="assets/images/icon/thumb_youtube.svg"  height="100%"/>
            </div>
        </div>
    </div>
</div>