<header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
    <nav class="d-flex align-items-center header-lg custom-header">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
            <img src="../assets/images/icon/logo.svg" />
        </a>

        <div class="ml-md-auto navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/">Phần mềm3</a>
                    <ul>
                        <div class="container header-div__submenu nav-phan_mem">
                            <div class="row-custom">
                                <div class="col-custom-20">
                                    <h3>PHẦN MỀM TÍNH TOÁN</h3>
                                    <ul>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft1.svg" align="left"/>
                                                <span>IFD <br/>Thiết kế Móng đơn</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft2.svg" align="left"/>
                                                <span>PBC <br/>Tính toán sức chịu tải của Cọc</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft3.svg" align="left"/>
                                                <span>PFD <br/>Thiết kế Móng cọc</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft4.svg" align="left"/>
                                                <span>EQL <br/>Tính toán tải trọng Động đất</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft5.svg" align="left"/>
                                                <span>WDL <br/>Tính toán tải trọng Gió</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft6.svg" align="left"/>
                                                <span>RCC <br/>Tính toán và thiết kế cốt thép Cột</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft7.svg" align="left"/>
                                                <span>KTV <br/> Kiểm tra Vách</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft8.svg" align="left"/>
                                                
                                                <span>RCBc <br/>Tính toán cốt thép Dầm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft9.svg" align="left"/>
                                                <span>RCSc <br/>Thiết kế cốt thép Sàn</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft10.svg" align="left"/>
                                                <span>STF <br/>Thiết kế khung thép tiền chế</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-custom-20">
                                    <h3>PHẦN MỀM THỂ HIỆN BẢNG VẼ</h3>
                                    <ul>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft_21.svg" align="left"/>
                                                <span>IFDe <br/>Triển khai chi tiết Móng đơn</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft_22.svg" align="left"/>
                                                <span>RCCd <br/>Triển khai chi tiết Cột - Vách</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft_23.svg" align="left"/>
                                                <span>PFDe <br/>Triển khai chi tiết Đài cọc</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft_24.svg" align="left"/>
                                                <span>RCB <br/>Triển khai chi tiết Dầm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/soft_25.svg" align="left"/>
                                                <span>RCS <br/>Triển khai cốt thép Sàn</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-custom-40">
                                    <h3>PHẦN MỀM MIỄN PHÍ</h3>
                                    <ul class="li-50">
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s31.svg" align="left"/>
                                                <span>KCS Inside <br/>Quản lý các phần mềm KetcauSoft</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s32.svg" align="left"/>
                                                <span>TMT <br/>Thuyết minh tính toán tải trọng</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s33.svg" align="left"/>
                                                <span>QuickC <br/>Tiện ích tính nhanh của KetcauSoft</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s34.svg" align="left"/>
                                                <span>KCS Panel <br/>Bảng công cụ của KetcauSoft</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s35.svg" align="left"/>
                                                <span>SFD <br/>Triển khai chi tiết Móng băng</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s36.svg" align="left"/>
                                                <span>LAT <br/>Triển khai chi tiết Lanh tô</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s37.svg" align="left"/>
                                                <span>VCT <br/>Vẽ mặt cắt Thang</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s38.svg" align="left"/>
                                                <span>QuickDraw <br/>Tiện ích vẽ nhanh của KetcauSoft</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s39.svg" align="left"/>
                                                <span>STK <br/>Thống kê thép hình</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s40.svg" align="left"/>
                                                <span>STF <br/>Thiết kế khung thép tiền chế</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="li-50 pl-4">
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s41.svg" align="left"/>
                                                <span>KCS Etabs GEN <br/>Phần mềm hỗ trợ Etabs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s42.svg" align="left"/>
                                                <span>STK <br/>Thống kê thép hình</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s43.svg" align="left"/>
                                                <span>KCS Plotter <br/>In ấn tự động trong CAD</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="../assets/images/icon/s44.svg" align="left"/>
                                                <span>Excel To PDF <br/>Hỗ trợ xuất file PDF</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-custom-20">
                                    <h3>SÁT HẠCH CCHN</h3>
                                    <a href="" class="custom-soft">Ôn tập xác hạch CCHN <img src="../assets/images/icon/arrow_right.svg" /></a>
                                </div>

                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Hướng dẩn sử dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Tra cứu3</a>
                    <ul>
                        <div class="header-div__submenu nav-tra_cuu">
                            <h3>TRA CỨU KETCAUSOFT</h3>
                            <P>Nhanh gọn - Chính xác - Dễ hiểu</P>
                            <div class="tag-overload__page">
                                <ul>
                                    <li>
                                        <div class="item-vio div-dia_chat">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/dia_chat.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>DỮ LIỆU ĐỊA CHẤT</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-vio div-su_dung">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/su_dung.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>HOẠT TẢI SỬ DỤNG</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-vio div-thong_so">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/thong_so.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>THÔNG SỐ VẬT LIỆU</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-vio div-tieu_chuan">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/tieu_chuan.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>TRA CỨU TIÊU CHUẨN</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-vio div-khai_niem">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/khai_niem.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>CÁC KHÁI NIỆM TRONG <br /> THIẾT KẾ KẾT CẤU</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Thư viện3</a>
                    <ul>
                        <div class="header-div__submenu nav-thu_vien">
                            <h3>THƯ VIỆN KETCAUSOFT</h3>
                            <P>Đa Dạng - Đầy Đủ</P>
                            <div class="tag-overload__page">
                                <ul>
                                    <li>
                                        <div class="item-vio">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/bai_viet.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>BÀI VIẾT</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-vio">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/tai_lieu.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>TÀI LIỆU</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-vio">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/video.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>VIDEO</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-vio">
                                            <div class="thumb_nail">
                                                <img src="../assets/images/icon/forum.svg" />
                                            </div>
                                            <div class="text">
                                                <h4>FORUM</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Đào tạo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Mua phần mềm</a>
                </li>
                <li class="nav-item li-more_image">
                    <a class="nav-link" href="/"><img src="../assets/images/icon/icon-header.svg"/></a>
                    <ul class="ul-inline-block">
                        <li>
                            <a href="">Cách xây dựng</a>
                        </li>
                        <li>
                            <a href="">Liên hệ</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <a class="btn btn-bd-download d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#"><img src="../assets/images/icon/icon_download.svg" /> Download</a>
        <li class="user_login" href="#"><img src="../assets/images/icon/user_login.svg" />
            <ul class="ul-inline-block">
                <li class="info_user">
                    <img src="../assets/images/icon/user_login.svg" class="mr-2 icon_user" align="left" />
                    <div class="ml-2">
                        <strong>Phụng Nguyễn</strong>
                        <a href="">Premium <img src="../assets/images/icon/premium.svg" class="ml-1"/></a>
                    </div>
                </li>
                <hr/>
                <li>
                    <a href="">Tài khoản của tôi</a>
                </li>
                <li>
                    <a href="">Tài liệu</a>
                </li>
                <li>
                    <a href="">Khoá học</a>
                </li>
                <hr/>
                <li>
                    <a href="">Thoát <img src="../assets/images/icon/logout.svg" class="ml-1 w-auto"/></a>
                </li>
            </ul>
        </li>
        <a class="mb-3 mb-md-0 ml-md-3 header-have_icon" >
            <img src="../assets/images/icon/icon_bell.svg" />
            <span class="dunus">0</span>
        </a>
        <a class="mb-3 mb-md-0 ml-md-3 header-have_icon" >
            <img src="../assets/images/icon/cart.svg" />
            <span class="dunus">0</span>
        </a>
    </nav>
</header>
