<!-- include head.html -->
<title>@@title</title>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="../node_modules/bootstrap/dist/css/bootstrap.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="assets/styles/style.css"
/>
