.bg-footer {
  background-color: #18a05f;
  color: #fff;
  h6 {
    font-size: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #fff;
      bottom: -20px;
    }
  }
  .list-unstyled {
    padding-top: 20px;
    li {
      font-size: 14px;
      a {
        color: #fff;
        font-weight: 400;
      }
    }
  }

  .footer-line-height {
    line-height: 36px;
  }
}
.bg-copyright {
  background-color: #18a05f;
  color: #fff;
  p {
    border-top: 1px solid #1ab394;
    padding-top: 27px;
    padding-bottom: 24px;
  }
}
