.search-page{
  background-color: #F9F9F9;
  &__top{
    background-color: #1968FF;
    text-align: center;
    padding-top: 30px;
    &.form-standard{
      background-color: #FD8100;
      .form-check{
        margin-right: 10px;
      }
    }
    h1{
      font-size: 30px;
      font-weight: 700;
      color: #fff;
      padding-top: 25px;
      padding-bottom: 60px;
    }
    img{
      width: 80px;
      height: 80px;
    }
    &__form{
      background-color: #fff;
      border-radius: 28px;
      padding: 30px 80px;
      position: relative;
      top: -50px;
      form{
        p{
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        label{
          font-size: 15px;
          font-weight: 700;
        }
        input{
          border: 1px solid #C4C4C4;
        }
        .form-check{
          margin-right: 10px;
          label{
            font-size: 14px;
            font-weight: 400;
          }
        }
        .input-group-text{
          background-color: #267FFD !important;
          color: #fff !important;
        }
      }
      .group-button{
        display: flex;
        padding-top: 20px;
        align-items: center;
        h3{
          color: #267FFD;
          font-size: 15px;
          font-weight: 400;
        }
      }
      button{
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-radius: 15px;
        margin-right: 15px;
        p{
          margin-bottom: 0;
          padding-left: 5px;
          color: #fff;
        }
      }
      
    }
  }
  &__center{
    .table{
      th,td{
        vertical-align: baseline;
        border-top: 0;
      }
      thead{
        th{
          border-bottom: 1px solid #267FFD;
        }
      }
    }
    .navigation{
      display: flex;
      justify-content: center;
      ul{
        li{
          &.page-item{
            &.active{
             a{
              background-color: #18A05F !important;
              color: #fff !important;
             }
            }
          }
          a{
            background-color: #F5F5F5;
            color: #000;
            border-radius: 3px;
            margin-right: 8px;
            border: 0;
            &:focus{
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
.button-share-facebook, .button-like-facebook{
  background-color: #1968FF;
  height: 20px;
  padding: 0 10px;
  border-radius: 5px;
  p{
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    padding-left: 5px;
  }
  img{
    margin: 0 !important;
  }
}

.section-member{
  text-align: center;
  padding-bottom: 50px;
  h1{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 25px;
  }
  .list-member{
    display: flex;
    justify-content: center;
    .member-company{
      margin-right: 40px;
      img{
        width: 50px;
      }
      p{
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        padding-top: 5px;
        &:hover{
          color:  #267FFD;
        }
      }
    }
  }
}